@import "variables";
@import "mixins";
@import "utils";
@import "typography";


p {
    em {
        color: $orange;
    }
}

a {
    text-decoration: none;
    color: $orange;
    font-weight: bold;

    &:hover {
        color: $peach;
        text-decoration: none;
    }
}

p:last-child {
    margin-bottom: 0;
}

fieldset {
    padding: 0;
}

img {
    max-width: 100%;
}

.content {
    padding-top: to-rem(40);
    padding-bottom: to-rem(40);
}