.heading-display {
    font-size: to-rem(60);
    line-height: 1.2;
    color: rgba($color-black, 0.86);
    font-weight: bold;
}

.heading-1 {
    margin-top: 0;
    font-size: to-rem(30);
    line-height: 1.2;
    color: rgba($color-black, 0.86);
    font-weight: bold;
    margin-bottom: to-rem(24);
    
    @include media-breakpoint-up(md) {
        font-size: to-rem(40);
    }
}

.heading-2 {
    margin-top: 0;
    font-size: to-rem(24);
    line-height: 1.4;
    color: rgba($color-black, 0.86);
    font-weight: bold;
    
    @include media-breakpoint-up(md) {
        font-size: to-rem(30);
    }
}

.heading-3 {
    margin-top: 0;
    font-size: to-rem(16);
    line-height: 1.4;
    color: rgba($color-black, 0.86);
    font-weight: bold;
    
    @include media-breakpoint-up(md) {
        font-size: to-rem(20);
    }
}

.heading-4 {
    margin-top: 0;
    font-size: to-rem(16);
    line-height: 1.5;
    font-weight: bold;
    color: rgba($color-black, 0.86);
}

.body-1 {
    font-family: $ssp;
    font-size: to-rem(16);
    line-height: 1.4;

    @include media-breakpoint-up(md) {
        font-size: to-rem(20);
    }
}

.body-1-alt {
    font-family: $ssp;
    font-size: to-rem(16);
    line-height: 1.4;
    color: rgba($color-black, 0.5);

    @include media-breakpoint-up(md) {
        font-size: to-rem(20);
    }
}

.body-2 {
    font-family: $ssp;
    font-size: to-rem(16);
    line-height: 1.5;
    color: rgba($color-black, 0.9);
}

.body-2-alt {
    font-family: $ssp;
    font-size: to-rem(16);
    line-height: 1.5;
    color: rgba($color-black, 0.5)
}



.post {
    li,
    ol,
    ul,
    p, {
        font-size: to-rem(16);
        font-family: $ssp;
    }

    p + ul,
    p + ol {
        margin-top: to-rem(-16);
    }

    li {
        font-family: $ssp;
        margin-bottom: to-rem(8);
        
        li {
            list-style: none;
    
            &:before {
                content: '-';
                padding-right: to-rem(8);
                font-weight: bold;
            }
            margin-bottom: to-rem(8);
        }
    
        li:first-child {
            margin-top: to-rem(8);
        }
     }

     ol {
         font-family: $ssp;
         padding-left: to-rem(24);
     }

     p {
         font-family: $ssp;
         margin-bottom: to-rem(16);
     }

     img {
         margin-bottom: to-rem(24);
     }

     hr {
         margin-top: to-rem(40);
         margin-bottom: to-rem(40);
         border: none;
         border-bottom: 1px solid rgba($black, 0.12);
     }
}