$opacity: 0.4;

.overlay-grey {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba($black, $opacity), rgba($black, $opacity));
}