$cabin: 'Cabin', sans-serif;
$ssp: 'Source Sans Pro', sans-serif;

#header-inline {display: inline;}
#header-inline-box {display: inline-block;}

$body-bg: #262626;
$body-bg-white: #f5f7f8;

$yellow: #fecf33;
$light-orange: #fdbd39;
$peach: #ff8352;
$melon: #ff8352;
$orange: #ef4a02;
$green: #00ae99;
$green-blue: #00ae99;
$charcoal: #37474f;
$dark-grey: #78909c;


$info: #d4edda;

$color-white: #fafbfb;
$color-black: #262626;
$black: $color-black;
$grey: rgba($black, 0.2);

$transition: all .2s ease-in-out;

$danger: #fe2020;
$light-grey: #e8e8e8;

// bg
$bg-info: #d4edda;
$bg-warning: #f7eac3; 
$bg-danger: #efc8cc;
