.join-buddy-hero {
    position: relative;
    margin-bottom: to-rem(80);
    position: relative;
}

.join-buddy-hero__content {
    margin: 0 auto;
    max-width: to-rem(1300);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: to-rem(-300);

    @include media-breakpoint-up(lg) {
        margin-top: to-rem(-220);
    }
}

.join-buddy-hero__image {
    height: to-rem(400);

    @include media-breakpoint-up(lg) {
        height: to-rem(450);
    }

    @media screen and (min-width: #{to-rem(1440)}) {
        height: to-rem(650);
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.join-buddy-hero__caption {
    padding: to-rem(16);
    flex-basis: to-rem(500);
    margin-right: to-rem(16);
    margin-left: to-rem(16);
    margin-bottom: to-rem(24);
}

.join-buddy-hero__price-est {
    flex-basis: to-rem(400);
    flex-grow: 1;
    max-width: to-rem(500);
    margin-right: to-rem(16);
    margin-left: to-rem(16);
}

.join-buddy-hero__title {
    @extend .heading-1;
    color: #FFF;
}

.join-buddy-hero__subtitle {
    @extend .heading-3;
    font-weight: normal;
    color: #FFF;
}


.join-buddy {
    margin-bottom: to-rem(80);
    display: flex;
}

.join-buddy__tip-num {
    flex-shrink: 0;
    flex-basis: to-rem(55);
    font-size: to-rem(30);
    line-height: 1.2;
    font-weight: bold;
    color: rgba($black, 0.25);
    text-align: center;
    
    @include media-breakpoint-up(md) {
        font-size: to-rem(40);
        font-size: to-rem(96);
        flex-basis: to-rem(200);
        align-self: center;
    }
}

.join-buddy__tip {
    flex-basis: to-rem(588);
}

.join-buddy__header {
    @extend .heading-1;
}

.join-buddy__body {
    @extend .body-1;
}