<template>
    <form
        ref="headerForm"
        id="headerForm"
        :class="showSearchPage ? 'tb-navbar__form full-page-search' : 'tb-navbar__form'"
        method="GET"
        :action="action"
        @submit.prevent="onSubmit">
        <div>
            <v-autocomplete
                id="headerBuddySearch"
                name="location"
                class-name="my-form-control"
                v-model="value"
                empty-message=""
                placeholder='Cari Buddy di Kota Tujuanmu'
                :itemSelector="itemSelector"
                :changeItems="changeItems"
                :items="items"
                @select="onSelect"
                :showMobileView="showSearchPage"
                @focus="onFocus"
                :customMessage="customMessage"
                :closeMobileView="closeSearchPage"
                @blur="onBlur">
            </v-autocomplete>
        </div>
    </form>
</template>

<script>
import AutoCompleteInput from '../forms/template/AutocompleteInput';
import algoliasearch from 'algoliasearch';

export default {
    components: {
        'v-autocomplete': AutoCompleteInput
    },
    data() {
        return {
            value: this.defaultValue,
            items: [],
            algoliaClient: null,
            algoliaIndex: null,
            showSearchPage: false,
            customMessage: null
        }
    },
    props: {
        defaultValue: {
            type: String,
            default: '',
        },
        action: {
            type: String,
            default: ''
        },
        algoliaAppId: {
            type: String,
            required: true
        },
        algoliaApiKey: {
            type: String,
            required: true
        }
    },
    watch: {
        showSearchPage(showSearch) {
            if (showSearch) {
                document.body.classList.add('tb-form-fulllpage');
            } else {
                document.body.classList.remove('tb-form-fullpage');
            }
        },
    },
    methods: {
        getAlgoliaClient() {
            if (this.algoliaClient) {
                return this.algoliaClient
            } else {
                this.algoliaClient = algoliasearch(this.algoliaAppId, this.algoliaApiKey);

                return this.algoliaClient;
            }
        },
        getAlgoliaIndex() {
            if (this.algoliaIndex) {
                return this.algoliaIndex;
            } else {
                this.algoliaIndex = this.getAlgoliaClient().initIndex('buddies_index');

                return this.algoliaIndex;
            }
        },
        searchFacet(facetName, facetQuery) {
            let options = {
                facetName: facetName,
                facetQuery: facetQuery,
                highlightPreTag: '<span class="highlighted">',
                highlightPostTag: '</span>'
            };
            return this.getAlgoliaIndex().searchForFacetValues(options);
        },
        changeItems() {
            let cityFacet = this.searchFacet('city_coverage', this.getInputValue());
            let countryFacet = this.searchFacet('country', this.getInputValue());

            cityFacet.then(content => {
                this.items = content.facetHits;
                
                countryFacet.then(content => {
                    this.items = [...this.items, ...content.facetHits];

                    if (this.items.length === 0) {
                        this.searchFacet('country', '').then(content => {
                            this.items = [...content.facetHits];
                            this.customMessage = 'Hasil pencarian tidak ditemukan. Saat ini TravelBuddy tersedia di:';
                        }).catch(err => {
                            console.log(err);
                        })
                    } else {
                        this.customMessage = null;
                    }
                })
            }).catch(err => {
                console.log(err);
            });
        },
        itemSelector(item) {
            return item.value;
        },
        getInputValue() {
            return document.getElementById('headerBuddySearch').value;
        },
        closeSearchPage() {
            this.showSearchPage = false;
            this.items = [];
            this.value = null;
            history.back();
        },
        onSubmit(e) {
            e.preventDefault();
            if (this.value === this.getInputValue()) {
                document.getElementById('headerForm').submit();
            }
        },
        onSelect(location) {
            setTimeout(() => {
                this.$refs.headerForm.submit();
            }, 0);
        },
        onFocus() {
            if (window.innerWidth < 500) {
                this.showSearchPage = true;
                history.pushState({}, '', '/buddy/search')
            }
        },
        onBlur() {
        }
    },
    mounted() {
        document.addEventListener('keydown', e => {
            if (e.keyCode === 27) {
                this.showSearchPage = false;
            }
        });

        window.addEventListener('popstate', e => {
            this.showSearchPage = false;
            this.items = [];
            this.value = null;
        }, false);
    }
}
</script>
