<template>
    <form
        id="autocompleteBuddySearch"
        :class="showMobileView ? 'form-search-city full-page' : 'form-search-city'"
        :method="method"
        :action="action"
        v-on:submit.prevent="onSubmit">

        <button
            class="full-page-close"
            v-if="showMobileView"
            @click.prevent="closeSearch">
            <i class="fa fa-arrow-left"></i>
        </button>
        <div class="form-group">
            <slot></slot>
            <div class="wrapper-input">
                <input
                    id="buddySearchInput"
                    type="text"
                    class="form-control"
                    name="location"
                    @focus="onFocus"
                    placeholder='Try "Amsterdam"'
                    v-model="keyword"
                    autocomplete="off"
                    v-on:keyup.down="navigate('down')"
                    v-on:keyup.up="navigate('up')">
                <button type="button" class="btn btn-search-buddy" @click="submitForm">Cari Buddy</button>
            </div>
        </div>
        <div v-show="showResults" class="autocomplete__list">
            <div v-if="showEmpty" class="autocomplete__item no-results mb-2">Hasil pencarian tidak ditemukan. Saat ini TravelBuddy tersedia di:</div>
            <div
                @click="select(index)"
                v-for="(result, index) in results" :key="index"
                :class="selectedIndex === index ? 'autocomplete__item active' : 'autocomplete__item'">
                <p
                    :class="result.value !== null ? 'autocomplete__result' : 'autocomplete__result no-result'"
                    v-html="result.highlighted"></p>
            </div>
        </div>
    </form>
</template>

<script>
    import algoliasearch from 'algoliasearch';

    export default {
        data() {
            return {
                keyword: this.defaultKeyword,
                results: [],
                selected: null,
                showResults: false,
                selectedIndex: 0,
                algoliaClient: null,
                algoliaIndex: null,
                showEmpty: false,
                showMobileView: false
            }
        },
        props: {
            method: {
                type: String,
                defaultValue: ''
            },
            action: {
                type: String,
                defaultValue: ''
            },
            defaultKeyword: {
                type: String,
                defaultValue: ''
            },
            algoliaAppId: {
                type: String,
                required: true
            },
            algoliaApiKey: {
                type: String,
                required: true
            }
        },
        watch: {
            keyword: function() {
                this.searchBuddy();
            },
            showMobileView(value) {
                if (value) {
                    document.body.classList.add('tb-form-fullpage');
                }
                else {
                    document.body.classList.remove('tb-form-fullpage');
                }
            }
        },
        methods: {
            getAlgoliaClient() {
                if (this.algoliaClient) {
                    return this.algoliaClient
                } else {
                    this.algoliaClient = algoliasearch(this.algoliaAppId, this.algoliaApiKey);

                    return this.algoliaClient;
                }
            },
            getAlgoliaIndex() {
                if (this.algoliaIndex) {
                    return this.algoliaIndex;
                } else {
                    this.algoliaIndex = this.getAlgoliaClient().initIndex('buddies_index');

                    return this.algoliaIndex;
                }
            },
            searchFacet(facetName, facetQuery) {
                let options = {
                    facetName: facetName,
                    facetQuery: facetQuery,
                    highlightPreTag: '<span class="highlighted">',
                    highlightPostTag: '</span>'
                };
                return this.getAlgoliaIndex().searchForFacetValues(options);
            },
            searchBuddy: function() {
                if (this.keyword === this.selected) return;
                
                var location = this.keyword;

                if (location) {
                    this.selected = null;
                    this.showEmpty = false

                    let searchCityCoverage = this.searchFacet('city_coverage', location);
                    let searchCountry = this.searchFacet('country', location);

                    searchCityCoverage.then(content => {
                        this.showResults = true;
                        this.results = content.facetHits;
                        
                        searchCountry.then(content => {
                            this.results = [...this.results, ...content.facetHits];
                            if (this.selectedIndex === null) this.selectedIndex = 0;
                            if (this.results.length === 0) {
                                // List available countries
                                this.searchFacet('country', '',)
                                .then(content => {
                                    this.results = content.facetHits;
                                    this.showEmpty = true;
                                }).catch(err => {
                                    console.log(err);
                                });
                            }
                        });
                    }).catch(err => {
                        console.log(err);
                    });
                } else {
                    this.showResults = false;
                    this.results = [];
                    this.selectedIndex = 0;
                }
            },
            select: function(index) {
                var result = this.results[index].value;
                this.selected = result;
                this.keyword = this.selected;
                this.showResults = false;
                this.selectedIndex = 0;

                this.setFocus();

                // Location name is validated. Now submit the form.
                // Need to change value manualy because if not, the value doesn't match with selected location.
                document.getElementById('buddySearchInput').value = this.selected;
                this.submitForm();

            },
            onFocus() {
                if (window.innerWidth < 500) {
                    this.showMobileView = true;
                    history.pushState({}, '', '/buddy/search')
                }
            },
            onSubmit: function() {
                if (this.results.length === 0) return;
                if (this.results[0].value === null) return;

                this.select(this.selectedIndex);

                // Location name is validated. Now submit the form.
                // Need to change value manualy because if not, the value doesn't match with selected location.
                document.getElementById('buddySearchInput').value = this.selected;
                this.submitForm();
            },
            setFocus: function() {
                document.getElementById('buddySearchInput').focus();
            },
            submitForm: function() {
                if (this.selected === null) return;

                document.getElementById('autocompleteBuddySearch').submit();
            },
            navigate: function(direction) {
                if (this.selectedIndex === null) return;

                var directionValue = direction === 'down' ? 1 : -1;
                var totalResult = this.results.length;

                // Trick to compute modulo of negative number.
                // See https://dev.to/maurobringolf/a-neat-trick-to-compute-modulo-of-negative-numbers-111e
                this.selectedIndex = (((this.selectedIndex + directionValue) % totalResult) + totalResult) % totalResult;
            },
            closeSearch() {
                this.showMobileView = false;
                this.results = [];
                this.keyword = null;
                this.showResults = false;
                history.back();
            }

        },
        mounted() {
            document.addEventListener('keydown', e => {
                if (e.keyCode === 27) {
                    this.showMobileView = false;
                }
            });

            window.addEventListener('popstate', e => {
                this.showMobileView = false;
                this.results = [];
                this.keyword = null;
                this.showResults = false;
            }, false);
        }
    }
</script>

<style lang="scss">
    @import "./resources/assets/sass/base/mixins";
    @import "./resources/assets/sass/base/variables";
    @import "./resources/assets/sass/plugins/fontawesome/scss/fontawesome";

    .full-page-close {
        height: 48px;
        border: none;
        background: transparent;
        margin-right: 16px;
        @media screen and (min-width: 500px) {
            display: none;
        }
    }
    #autocompleteBuddySearch {
        position: relative;

        .form-group {
            margin-bottom: 0;
        }


        @media screen and (max-width: 500px) {
            &.full-page {
                position: fixed;
                display: flex;
                padding: to-rem(16);
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                background: #FFF;
                z-index: 999;
                overflow-y: auto;
    
                .form-group {
                    flex: 1;
                    height: 48px;
                }
    
                input {
                    margin: 0;
                    border: 1px solid rgba($black, 0.2);
                    box-shadow: none;
                    padding: to-rem(12) to-rem(16);
                }
    
                .btn-search-buddy {
                    padding: to-rem(8) to-rem(12);
                }
    
                .autocomplete__list {
                    top: to-rem(85);
                    left: 0;
                    box-shadow: none;
                    max-height: none;
                }
            }
        }
    }

    em {
        color: blue !important;
    }


    .autocomplete__list {
        position: absolute;
        width: 100%;
        background: #FFF;
        z-index: 1;
        border-radius: 4px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.12);
        top: 100%;
        transform: translateY(-20px);
        overflow: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-height: 210px;
        overflow-y: auto;
    }

    .autocomplete__item {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.25rem;

        @media screen and (min-width: 768px) {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }

        &.no-results {
            font-size: 1rem;
        }
    }

    .autocomplete__item.active {
        cursor: pointer;

        .autocomplete__result {
            background: lighten($orange, 45%);
        }
    }

    .autocomplete__item:hover {
        cursor: pointer;

        .autocomplete__result {
            background: lighten($orange, 25%);
        }
    }

    .autocomplete__result {
        position: relative;
        margin-bottom: 0;
        padding: 8px;
        font-size: 16px;

        &:not(.no-result):before {
            content: fa-content($fa-var-map-marker-alt);
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: rgba($black, 0.8);
            display: inline-block;
            top: 0;
            left: 0;
            margin-right: 8px;
        }

        .highlighted {
            background-color: lighten($peach, 5%);
            font-weight: bold;
        }

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }
</style>