<template>
    <div>
        <input style="opacity: 0; width: 0; height: 0; position:absolute" type="text" :required="isRequired">
        <div v-for="(checkbox, index) in checkboxes" :key="index" class="my-form-check">
            <input
                :id="checkbox.id"
                type="checkbox"
                class="my-form-check-input"
                :name="name"
                v-model="checked"
                :value="checkbox.value">
            <label
                :for="checkbox.id"
                class="my-form-check-label">
                {{ checkbox.label }}
            </label>
        </div>

        <div v-if="manualInput" class="my-form-check">
            <input
                :id="id + 'manualInput'"
                type="checkbox"
                class="my-form-check-input my-form-check-input--with-inline"
                name="manual_input"
                @change="manualInputHandler"
                :checked="isManualInputChecked"
                value="asdwasdw">
            <label
                :for="id + 'manualInput'"
                class="my-form-check-label">
                Lainnya
            </label>
            <input
                v-if="isManualInputChecked"
                type="text"
                :name="name"
                :value="getManualInput()"
                required
                ref="manualInput"
                class="my-form-control my-form-control--inline-small">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                checked: this.selected,
                isRequired: this.required,
                isManualInputChecked: false,
            }
        },
        props: {
            name: {
                type: String,
                required: true,
                default: ''
            },
            checkboxes: {
                type: Array,
                default: function() {
                    return [];
                }
            },
            manualInput: {
                type: Boolean,
                default: false
            },
            id: {
                type: String,
                default: Date.now()
            },
            selected: {
                type: Array,
                default: () => []
            },
            required: {
                type: Boolean,
                default: false
            }
        },
        watch: {
            checked(value) {
                this.isRequired = value.length === 0 && !this.isManualInputChecked;
            },
            isManualInputChecked(checked) {
                this.isRequired = !checked && this.value.length === 0;
            }
        },
        methods: {
            manualInputHandler: function(e) {
                this.isManualInputChecked = e.target.checked;
            },
            isSelected(value) {
                return this.selected.includes(value);
            },
            isManualInput() {
                let manualInput = false;
                let arrayOfValue = this.checkboxes.map(item => item.value);
                
                for (let i = 0; i < this.selected.length; i++) {
                    if (!arrayOfValue.includes(this.selected[i])) {
                        manualInput = true;
                    }
                }

                return manualInput;
            },
            getManualInput() {
                let arrayOfValue = this.checkboxes.map(item => item.value);
                
                for (let i = 0; i < this.selected.length; i++) {
                    if (!arrayOfValue.includes(this.selected[i])) {
                        return this.selected[i];
                    }
                }

                return '';
            }
        },
        mounted() {
            this.isManualInputChecked = this.isManualInput();
            this.isRequired = this.checked.length === 0 && !this.isManualInputChecked;
        }
    }
</script>
