<template>
    <div class="tb-date-picker">
        <fieldset>
            <h2 class="my-form__set-title">Tanggal Perjalanan</h2>
            <p class="my-form__help">
                Silahkan pilih tanggal dimana anda ingin ditemani oleh Buddy, dan berikan keterangan berapa jam pada setiap harinya akan menggunakan buddy
            </p>
            <div class="my-form-group-inline">
                <div class="my-form-group my-form-group--icon-calendar">
                    <label for="">Tanggal Mulai</label>
                    <custom-datepicker
                        name="start_date"
                        input-class="my-form-control"
                        :value="startDate"
                        v-model="startDate"
                        format="D, dd/MM/yyyy"
                        placeholder="DD/MM/YYYY"
                        :disabled="disabledStart"
                        :required="required">
                    </custom-datepicker>
                </div>

                <div class="my-form-group my-form-group--icon-calendar">
                    <label for="">Tanggal akhir</label>
                    <custom-datepicker
                        name="end_date"
                        input-class="my-form-control"
                        :value="endDate"
                        v-model="endDate"
                        format="D, dd/MM/yyyy"
                        placeholder="DD/MM/YYYY"
                        :disabled="disabledEnd"
                        :required="required">
                    </custom-datepicker>
                </div>
            </div>
        </fieldset>
        
        <fieldset v-if="isDateValid">
            <h2 class="my-form__set-title">Detil dan Waktu Booking Buddy</h2>
            <div class="date-hour-wrapper">
                <div class="date-hour-price-legend">    
                    <span class="label">Tanggal</span>
                    <span class="label">Waktu </span>
                    <span class="label lg-only">Estimasi Biaya</span>
                </div>
                <div v-for="(date, index) in dateRange" :key="index" class="date-hour">
                    <div class="my-form-group my-form-group--icon-calendar">
                        <span class="label">Tanggal</span>
                        <div class="my-form-control">
                            {{ formatDate(date.date, 'ddd, DD/MM/YYYY') }}
                        </div>
                    </div>
                    
                    <div class="my-form-group my-form-group--icon-clock">
                        <label :for="hoursPerDay + index">Waktu</label>
                        <input
                            :id="hoursPerDay + index"
                            name="hours_per_day[]"
                            v-model.number="hoursPerDay[index]" 
                            type="number"
                            min="1"
                            max="24"
                            class="my-form-control"
                            placeholder="Total Hour">
                    </div>

                    <div class="my-form-group lg-only">
                        <div class="my-form-control">
                            <span>Rp</span>
                            <span>
                                {{ formatPrice(pricePerDay(price, hoursPerDay[index])) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="date-hour-calculations">
                <div class="total-day">
                    <span class="total lg-only">Total</span>
                    <span class="total sm-only">Waktu</span>
                    <span class="day">{{ dateRange.length }} HARI</span>
                </div>
                <div class="total-hours">
                    <div>
                        {{ totalHours }}
                        <span class="hours">Jam</span>
                    </div>
                </div>
                <div class="total-price">
                    <span class="total sm-only">Estimasi Biaya</span>
                    <span class="price">
                        Rp
                        {{ totalPrice }}
                    </span>
                </div>
            </div>
        </fieldset>
         
    </div>
</template>


<script>
    import moment from 'moment';
    export default {
        data() {
            return {
                startDate: this.createDateFromFormat(this.startDateProp, 'ddd, DD/MM/YYYY'),
                endDate: this.createDateFromFormat(this.endDateProp, 'ddd, DD/MM/YYYY'),
                hoursPerDay: this.hoursPerDayProp.slice(),
            }
        },
        props: {
            price: {
                type: Number,
                required: true,
            },
            startDateProp: {
                type: String,
                default: '',
            },
            endDateProp: {
                type: String,
                default: '',
            },
            hoursPerDayProp: {
                type: Array,
                default: function() {
                    return [];
                },
            },
            required: {
                type: Boolean,
                default: false,
            }
        },
        methods: {
            formatDate: function(date, format) {
                return moment(date).format(format);
            },
            formatPrice: function(price) {
                var formatedPrice = price;

                formatedPrice = formatedPrice.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1.');
                return formatedPrice;
            },
            createDateFromFormat: function(date, format) {
                var newDate = moment(date, format);
                
                if (!newDate.isValid()) {
                    return null;    
                }

                return newDate.toDate();
            },
            pricePerDay: function(price, totalHours) {
                return price * (totalHours || 0);
            }
        },
        computed: {
            dateRange: function () {
                var start = moment(this.startDate, "ddd, DD/MM/YYYY");
                var end = moment(this.endDate, "ddd, DD/MM/YYYY");

                var range = [];

                for (var date = moment(start); date <= end; date.add(1, 'days')) {
                    var item = {
                        date: moment(date)
                    }
                    range.push(item);
                }

                return range;
            },
            isDateValid: function() {
                return (this.startDate && this) && (this.startDate <= this.endDate);
            },
            totalHours: function() {
                var total = this.hoursPerDay.reduce((sum, current) => {
                    sum += current || 0;
                    return sum;
                }, 0);

                return total;
            },
            totalPrice: function() {
                var totalPrice = this.price * this.totalHours;
                return this.formatPrice(totalPrice);
            },
            disabledStart: function() {
                return {
                    to: moment(new Date()).subtract(1, 'days').toDate(),
                    from: this.endDate
                }
            },
            disabledEnd: function() {
                return {
                    to: this.startDate
                }
            }
        },
        watch: {
            startDate: function (newDate, oldDate) {
                var updated = moment(new Date(newDate));
                var old = moment(new Date(oldDate));
                var oldRange = Math.abs(updated.diff(old, 'days'));

                var lastRange = this.hoursPerDay.length;
                var newRange = this.dateRange.length;

                if (updated > old) {
                    var hoursPerDay = this.hoursPerDay.slice(-newRange);
                    this.hoursPerDay = hoursPerDay;
                }

                if (updated < old) {
                    var hoursPerDay = this.hoursPerDay.slice();
                    for (var i = 0; i < oldRange; i++) {
                        hoursPerDay.unshift(null);
                    }
                    this.hoursPerDay = hoursPerDay;
                }
            },
            endDate: function() {
                var lastRange = this.hoursPerDay.length;
                var newRange = this.dateRange.length;
                
                if (lastRange > newRange) {
                    var hoursPerDay = this.hoursPerDay.slice(0, -(lastRange - newRange));
                    this.hoursPerDay = hoursPerDay;
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "./resources/assets/sass/base/mixins";
    @import "./resources/assets/sass/base/variables";

    .date-hour-wrapper {
        display: flex;
        flex-flow: column;

        .date-hour {
            margin-right: to-rem(-4);
            margin-left: to-rem(-4);
            margin-bottom: to-rem(16);
            padding-bottom: to-rem(8);
            border-bottom: 1px solid rgba($black, 0.12);

            @media screen and (min-width: to-rem(470)) {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
                display: flex;
            }

            .my-form-group {
                margin-bottom: to-rem(8);
                margin-right: to-rem(4);
                margin-left: to-rem(4);
                @media screen and (min-width: to-rem(470)) {
                    flex: 1 1 (1/3) * 100%;
                }
            }

            label,
            .label {
                @media screen and (min-width: to-rem(470)) {
                    display: none;
                }
            }
        }
    }

    .date-hour-price-legend {
        display: none;
        @media screen and (min-width: to-rem(470)) {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
            display: flex;
        }

        span {
            margin-bottom: to-rem(8);
            margin-right: to-rem(4);
            margin-left: to-rem(4);
            @media screen and (min-width: to-rem(470)) {
                flex: 1 1 (1/3) * 100%;
            }
        }
    }

    .date-hour-calculations {
        @media screen and (min-width: to-rem(1200)) {
            display: flex;
            margin: to-rem(8) to-rem(-4);
            font-size: to-rem(20);
            font-weight: bold;
        }

        & > div {
            margin-bottom: to-rem(8);
            @media screen and (min-width: to-rem(1200)) {
                flex: 1 0 (1/3) * 100%;
                margin-right: to-rem(4);
                margin-left: to-rem(4);
            }
        }

        .total-day {
            display: flex;
            justify-content: space-between;
            @media screen and (min-width: to-rem(1200)) {
            }
        }

        .total-hours {
            text-align: right;
            @media screen and (min-width: to-rem(1200)) {
                text-align: center;
            }
        }

        .total-price {
            display: flex;
            justify-content: space-between;
            @media screen and (min-width: to-rem(1200)) {
                text-align: center;
            }
        }

        .total,
        .day,
        .price,
        .hours {
            text-transform: uppercase;
            font-weight: bold;
        }

        .total {
            color: rgba($black, 0.5);
        }

        .price {
            color: $orange;
        }
    }

    .lg-only {
        @media screen and (max-width: to-rem(1200)) {
            display: none;
        }
    }
    .sm-only {
        @media screen and (min-width: to-rem(1200)) {
            display: none;
        }
    }
</style>
