<template>
    <div>
        <button
            :class="className"
            @click="modalTrigger">
            {{ buttonValue }}
        </button>
        <div v-if="showModal" class="tb-modal">
            <div class="tb-modal__content medium">
                <div class="tb-modal__body">
                    <slot name="body"></slot>
                </div>
                <div class="tb-modal__action">
                    <slot name="proceed"></slot>
                    <button
                        class="my-button my-button--grey"
                        @click="cancelHandler">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showModal: false,
        }
    },
    watch: {
        showModal(value) {
            if (value) {
                document.body.classList.add('tb-modal-open');
            } else {
                document.body.classList.remove('tb-modal-open');
            }
        }
    },
    props: {
        className: {
            type: String,
            default: '',
        },
        buttonValue: {
            type: String,
            default: '',
        }
    },
    methods: {
        modalTrigger(e) {
            e.preventDefault();
            this.showModal = true;
        },
        cancelHandler() {
            this.showModal = false;
        }
    },
    mounted() {
        document.addEventListener('keydown', e => {
            if (e.keyCode === 27) {
                this.showModal = false;
            }
        });
    }
}
</script>
