<template>
    <div class="price-estimation">
        <h2 class="price-estimation__title">Dalam satu Bulan Anda bisa memperoleh</h2>
        <div class="my-form-group">
            <div class="my-form-group--icon-calendar">
                <select
                    name="spareTime"
                    class="my-form-control"
                    v-model="spareTime">
                    <option value="1">1 hari waktu luang per minggu</option>
                    <option value="2">2 hari waktu luang per minggu</option>
                    <option value="3">3 hari waktu luang per minggu</option>
                    <option value="4">4 hari waktu luang per minggu</option>
                    <option value="5">5 hari waktu luang per minggu</option>
                    <option value="6">6 hari waktu luang per minggu</option>
                    <option value="7">7 hari waktu luang per minggu</option>
                </select>
            </div>
        </div>
        <div class="price-estimation__price">
            <span class="price">{{ price }}</span>
            <span class="help" @click="showHelp" ref="showHelp">
                <i class="fa fa-question-circle"></i>
            </span>
        </div>
        <div v-show="help" class="help-box" ref="helpBox">
            <span class="close-help" @click="closeHelp" ref="closeHelp">
                <i class="fa fa-times-circle"></i>
            </span>
            <p>Estimasi menggunakan perhitungan harga sistem dengan asumsi perjalanan 4 jam dalam 1 hari. Besar pendapatanmu yang sebenarnya bisa berbeda-beda tergantung lokasi, tingkat permintaan, dan faktor lainnya. Undang-undang pemerintah setempatmu juga dapat memengaruhi pendapatan yang sebenarnya.</p>
        </div>
        <slot name="cta"></slot>
    </div>
</template>

<script>
export default {
    data() {
        return {
            spareTime: 2,
            averagePrice: 195000,
            averageHour: 4,
            help: false
        }
    },
    computed: {
        price() {
            return this.formatPrice(this.spareTime * this.averagePrice * this.averageHour * 4);
        }
    },
    methods: {
        formatPrice(price) {
            return 'Rp' + price.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1.');
        },
        showHelp() {
            this.help = true;
        },
        closeHelp() {
            this.help = false;
        },
        isOrcontains(parent, child) {
            if (parent == child) {
                return true;
            }

            let node = child.parentNode;
            while (node != null) {
                if (node == parent) {
                    return true;
                }
                node = node.parentNode;
            }
            return false;
        }
    },
    mounted() {
        document.addEventListener('keydown', e => {
            if (e.keyCode === 27) {
                this.help = false;
            }
        });

        let helpBox = this.$refs.helpBox;
        let showHelp = this.$refs.showHelp;
        let closeHelp = this.$refs.closeHelp;

        document.addEventListener('click', e => {
            if (this.isOrcontains(showHelp, e.target)) {
                return;
            }

            if (this.isOrcontains(closeHelp, e.target)) {
                return;
            }

            let shouldModalClosed = !(
                this.isOrcontains(helpBox, e.target)
            );

            if (shouldModalClosed) {
                this.help = false;
            }
        });
    }
}
</script>

<style lang="scss" scoped>
    @import "./resources/assets/sass/base/mixins";
    @import "./resources/assets/sass/base/variables";
    
    .price-estimation {
        position: relative;
        padding: to-rem(24);
        background-color: #FFF;
        border-radius: to-rem(8);
        box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);

        .my-form-group {
            margin-bottom: to-rem(24);
        }

        .fa {
            font-weight: normal;
            color: rgba($black, 0.5);
        }

        .close-help {
            cursor: pointer;
        }
    }

    .price-estimation__title {
        margin-bottom: to-rem(24);
        font-family: $cabin;
        font-weight: bold;
        font-size: to-rem(24);
        color: rgba($black, 0.86);
    }

    .price-estimation__price {
        margin-bottom: to-rem(24);

        .price {
            font-family: $cabin;
            font-size: to-rem(40);
            font-weight: bold;
        }

        .separator {
            font-size: to-rem(24);
        }

        .monthly {
            font-family: $ssp;
            font-size: to-rem(16);
        }

        .help {
            cursor: pointer;

        }
    }

    .help-box {
        position: absolute;
        bottom: to-rem(130);
        left: to-rem(-10);
        background-color: #FFF;
        padding: to-rem(16);
        max-width: to-rem(300);
        z-index: 999;
        box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);
        border-radius: to-rem(4);
        border: 1px solid rgba($black, 0.12);

        @media screen and (max-width: #{to-rem(400)}) {
            position: fixed;
            top: 0;
            left: 0;
            max-width: 100vh;
            width: 100%;
            height: 100%;
        }
    }
</style>


