#about-us {
	margin-top: to-rem(80);
	.about-us-content {
		padding: to-rem(40) to-rem(24);

		@include media-breakpoint-up(lg){
			padding-left: to-rem(40);
			padding-right: to-rem(40);
		}

		background-color: #fff;
		border-radius: 8px;
		flex-wrap: wrap;
		box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);
		.about-us-img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
		.about-us-logo {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
			display: block;

			@include media-breakpoint-up(xl) {
				margin-right: 0;
				margin-left: 0;
			}
		}
		.about-us-text {
			font-family: $ssp;
			font-size: to-rem(16);
			line-height: 1.4;
			letter-spacing: -0.4px;
			margin-bottom: 1rem;
			@include media-breakpoint-up(xl) {
				font-size: to-rem(20);
			}
		}
	}
}