.tb-accordion {
    margin-bottom: to-rem(24);
    background-color: #FFF;
    overflow: hidden;
    border: solid 1px #e0e1e1;
    
    .tb-accordion__toggler {
        cursor: pointer;
    }
    
    .tb-accordion__header {
        @extend .heading-4;
        position: relative;
        padding: to-rem(8) to-rem(16);
        display: flex;        
        border-bottom: solid 1px #e0e1e1;

        .tb-accordion__title {
            margin-bottom: 0;
            font-size: to-rem(16);
        }

        .tb-accordion__expand {
            margin-right: to-rem(12);
            transition: 300ms ease;

            .arrow-down {
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 10px solid $black;
            }
        }
    }

    .tb-accordion__content {
        height: 0px;
        transition: height 300ms ease;
    }
    
    .tb-accordion__body {
        font-family: $ssp;
        padding: to-rem(16);
    }

    &.active {
        .tb-accordion__content {
            height: auto;
        }

        .tb-accordion__expand {
            transform: rotate(-180deg);
        }
    }
}


.order-received-buddy {
    max-width: 100%;
    overflow-x: auto;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.accordion-order {
    min-width: to-rem(1000);
    margin-bottom: 0;
    &:not(:last-child) {
        border-bottom: none;    
    }
    .tb-accordion__header {
        padding: 0;

        > * {
            padding: to-rem(8) to-rem(24);
            flex: 1;
            margin-bottom: 0;
            font-weight: normal;
            display: flex;
            align-items: center;
        }

        > *:not(:last-child) {
            border-right: 1px solid #e0e1e1;
        }
        > *:nth-child(1) {
            flex-basis: to-rem(270);
        }
        > *:nth-child(2) {
            flex-basis: to-rem(150);
        }
        > *:nth-child(3) {
            flex-basis: to-rem(270);
        }
        > *:nth-child(4) {
            flex-basis: to-rem(180);
        }
        > *:nth-child(5) {
            flex-basis: to-rem(270);
        }
    }

    .tb-accordion__title {
        color: $orange;
        font-weight: bold;
    }

    .accordion-order__action {
        > *:not(:last-child) {
            margin-right: to-rem(8);
        }
    }
}

.accordion-order__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: to-rem(8);
}

.accordion-order__cell {
    flex: 1 1 0;

    &.title {
        position: relative;
        font-weight: bold;

        &:after {
            content: ':';
            position: absolute;
            top: 0;
            right: 0;
            margin-right: to-rem(8);
        }
    }

    &.value {
        opacity: 0.9;
        flex: 2 1 0;
    }
}

.accordion-order__head {
    min-width: to-rem(1000);
    display: flex;
    background-color: #E9EBEB;
    border: solid 1px darken(#e0e1e1, 10%);
    margin-bottom: to-rem(16);

    > * {
        color: rgba($black, 0.5);
        font-weight: bold;
        margin-bottom: 0;
        padding: to-rem(12) to-rem(24);
    }

    > *:not(:last-child) {
        border-right: 1px solid darken(#e0e1e1, 10%);
    }

    > *:nth-child(1) {
        flex-basis: to-rem(270);
    }
    > *:nth-child(2) {
        flex-basis: to-rem(150);
    }
    > *:nth-child(3) {
        flex-basis: to-rem(270);
    }
    > *:nth-child(4) {
        flex-basis: to-rem(180);
    }
    > *:nth-child(5) {
        flex-basis: to-rem(270);
    }
}