.bank-list {
    padding-left: 0;
    display: block;

    .bank-list__item {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: to-rem(-12);
        margin-right: to-rem(-12);

        > * {
            margin-right: to-rem(12);
            margin-left: to-rem(12);
        }

        .bank__body {
            flex: 1 0 to-rem(200);
        }
    }

    .bank__logo {
        width: 100%;
        flex: 0 0 to-rem(180);
        max-width: 180px;
    }

    .bank__title {
        @extend .heading-3;
        margin-bottom: 0;
    }

    .bank__info {
        @extend .body-2;
    }
}