.breadcrumb {
    margin-top: to-rem(24);
    margin-bottom: to-rem(24);
    padding-top: to-rem(16);
    padding-bottom: to-rem(16);
    background-color: $body-bg-white;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba($black, 0.12);
    border-radius: 0;

    .breadcrumb-item {
        font-weight: bold;

        a {
            color: rgba($black, 0.5);
            text-decoration: none;
            transition: 300ms ease;
            
            &:hover {
                color: $orange;
            }
        }

        &.active {
            a {
                color: $orange;
            }
            color: $orange;
        }

        &:not(:first-child):before {
            content: fa-content($fa-var-angle-right);
            font-family: 'Font Awesome 5 Free';
        }

        &.back:before {
            content: fa-content($fa-var-angle-left);
            margin-right: to-rem(8);
            font-family: 'Font Awesome 5 Free';
        }
    }
}