.buddy--heading {
    margin-bottom: to-rem(12);
    font-weight: bold;
    color: rgba($black, 0.5);
}

.buddy--name {
    margin-bottom: 0;
    font-size: to-rem(20);
    font-weight: bold;
    color: $black;
}

.buddy--location {
    margin-bottom: to-rem(16);
    color: rgba($black, 0.75);

    .buddy--city {
        font-weight: bold;
        color: $orange;
    }
}