$border-radius: to-rem(4);
$border-size: to-rem(1);
$border-color-default: rgba($black, 0.25);
$border-color-orange: rgba($orange, 0.25);
$border-color-peach: rgba($peach, 0.25);
$border-color-green: rgba($green-blue, 0.25);
$border-color-grey: rgba($dark-grey, 0.25);


// fc = font color
$fc-default: rgba($black, 0.6);
$fc-default-hover: $orange;

$fc-orange: #fff;
$fc-orange-hover: #fff;

$fc-peach: #FFF;
$fc-peach-hover: #FFF;

$fc-grey: #FFF;
$fc-grey-hover: #FFF;

$fc-green: #FFF;
$fc-green-hover: #FFF;

.my-button {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: $border-radius;
    padding: to-rem(12) to-rem(16);
    transition: 300ms ease;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.my-button--block {
    display: block;
    width: 100%;
    text-align: center;
}

.my-button--default {
    font-weight: normal;
    color: $fc-default;
    border: $border-size solid $border-color-default;

    &:hover {
        color: $fc-default-hover;
    }
}


.my-button--peach {
    background: $peach;
    font-weight: normal;
    color: $fc-peach;
    border: $border-size solid $border-color-peach;

    &:hover {
        color: $fc-peach-hover;
    }
}


.my-button--orange {
    background: $orange;
    font-weight: normal;
    color: $fc-orange;
    border: $border-size solid $border-color-orange;

    &:hover {
        color: $fc-orange-hover;
    }
}

.my-button--grey {
    background: $dark-grey;
    font-weight: normal;
    color: $fc-grey;
    border: $border-size solid $border-color-grey;

    &:hover {
        color: $fc-grey-hover;
    }
}

.my-button--green {
    background: $green-blue;
    font-weight: normal;
    color: $fc-green;
    border: $border-size solid $border-color-green;

    &:hover {
        color: $fc-green-hover;
    }
}

.my-button--large {
    text-align: center;
    min-width: to-rem(200);
}

.my-button--icon-photo:before {
    content: fa-content($fa-var-camera);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: to-rem(8);
}

.my-button--icon-whatsapp:before {
    content: fa-content($fa-var-whatsapp);
    font-family: 'Font Awesome 5 Brands';
    font-weight: 900;
    margin-right: to-rem(8);
}