$border-color-default: rgba($black, 0.25);
$border-size: 1px;
$border-radius: to-rem(8);

.my-card {
    padding: to-rem(24);
    margin-bottom: to-rem(24);
}

.my-card--default {
    border: $border-size solid $border-color-default;
    border-radius: $border-radius;
    background: #fff;
}

.my-card--sticky-top {
    position: sticky;
    top: to-rem(40);
}

.my-card__body {
    flex: 1;
}

.my-card--with-media {
    display: flex;

    .my-card__media {
        width: to-rem(144);
        height: to-rem(144);
        flex-shrink: 0;
        margin-right: to-rem(16);
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

