body {
	font-family: $cabin;
	background: $body-bg-white;
}
.h1 {
	font-family: $cabin;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -1.3px;
	color: #fff;
	&.black {}
	.orange {
		color: $orange;
	}
}
.div-flex {display: flex;}
.heading {}
.sub-heading {
    font-size: to-rem(20);
    font-weight: bold;
	color: $color-white;
    line-height: 1.2;
    
    @include media-breakpoint-up(md) {
        font-size: to-rem(24);
    }
}
#map {
	width: 100%;
	height: 37.5rem;
}