%info {
    background-color: $bg-info;
    border: 1px solid darken($bg-info, 5%);
}

%warning {
    background-color: $bg-warning;
    border: 1px solid darken($bg-warning, 5%);
}

%danger {
    background-color: $bg-danger;
    border: 1px solid darken($bg-danger, 5%);
}

.profile__flash-message {
    position: relative;
    padding: to-rem(24) to-rem(40);
    margin-bottom: to-rem(40);

    &.info {
        @extend %info;
    }

    &.warning {
        @extend %warning;
    }

    &.danger {
        @extend %danger;
    }
}

.profile__flash-message__title {
    @extend .heading-3;
}

.profile__flash-message__body {
    @extend .body-2;
}

.profile__flash-message__body:last-child {
    margin-bottom: 0;
}

.profile__flash-message__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: to-rem(12);
    color: $black;

    &:hover {
        color: $black;
    }
}

.flash-message {
    position: fixed;
    top: to-rem(-100);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: to-rem(600);
    padding: to-rem(20) to-rem(16);
    z-index: 999;
    transition: 800ms ease;

    &.active {
        top: to-rem(20);
    }

    &.info {
        .flash-message__content {
            @extend %info;
        }
    }

    &.warning {
        .flash-message__content {
            @extend %warning;
        }
    }

    &.danger {
        .flash-message__content {
            @extend %danger;
        }
    }
}

.flash-message__content {
    position: relative;
    margin: 0 auto;
    max-width: to-rem(600);
    border-radius: to-rem(4);
    box-shadow: 0px 1px 6px 2px rgba(38, 38, 38, 0.15);
    padding: to-rem(8) to-rem(12);
}

.flash-message__body {
    @extend .body-2;
}

.flash-message__close {
    position: absolute;
    right: to-rem(12);
    top: to-rem(8);
    font-size: to-rem(12);
    color: $black;

    &:hover {
        color: $black;
    }
}