footer {
    padding: 4rem 0;
    background-color: #fff;
    .logo, #hotline {margin-bottom: 1.5rem;}
    hr {
        margin-top: 2.5rem;
        margin-bottom: 1.75rem;
        border-top-width: 2px;
    }
    .address {
        opacity: 0.75;
        font-family: $ssp;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: $color-black;
        strong {
            font-family: $cabin;
            font-size: 1.25rem;
            margin-bottom: .5rem;
            display: inline-block;
        }
    }
    .about {
        padding-left: 0;
        li {
            display: block;
            a {
                line-height: 1.5;
                font-weight: bold;
                letter-spacing: -0.4px;
                color: rgba($color-black, 0.5);
            }
        }


    }
    #hotline {
        font-family: $cabin;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
    }
    .card {
        border: none;
        background-color: $orange;
        border-radius: 8px;
        box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.12);
    }
    .div-flex {
        margin-bottom: .25rem;
        color: rgba(255, 255, 255, 0.86);
        p, a {
            font-family: $ssp;
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: -0.4px;
        }
        a {color: rgba(255, 255, 255, 0.86);}
        svg {margin-right: .75rem;}
    }
    #footer-bawah {
        .help {
            padding: 0;
            li {
                display: block;
                margin-right: 1.2rem;
                
                @include media-breakpoint-up(md) {
                    display: inline-block;
                }
                a {
                    font-size: to-rem(13);
                    font-weight: 600;
                    color: rgba($color-black, 0.5);
                }
            }
        }
        .copyright {
            font-size: to-rem(13);
            font-weight: 600;
            color: rgba($color-black, 0.5);
            span {
                color: $orange;
            }
        }
        .social-icon {
            li {
                display: inline;
                list-style: none;
            }
            padding-left: 0;
            a {
                font-size: 1.5rem;
                margin-right: 1.5rem;
                color: rgba(44, 45, 48, 0.44);
                transition: $transition;
                &:hover {
                    transition: $transition;
                    color: $color-black;
                }
            }
        }
    }
    
    [class*="hotline-"] {
        padding-left: to-rem(8);
    }
}