$form-border-radius: to-rem(3);
$form-border-color: rgba($black, 0.12);
$form-border-size: to-rem(1);

.tb-form-fullpage {

    @media screen and (max-width: 500px) {
        overflow: hidden;
    }
}

fieldset {
    margin-bottom: to-rem(20);
    
    @include media-breakpoint-up(md) {
        margin-bottom: to-rem(40);
    }

    // Style for nested fieldset
    fieldset {
        margin-bottom: to-rem(24);
        
        .my-form__title {
            @extend .body-2;
            font-family: $cabin;
            font-weight: bold;
            margin-bottom: to-rem(8);
        }
    }
}

.fieldset-bordered {
    margin-bottom: to-rem(32);
    padding-bottom: to-rem(8);
    border-bottom: 1px solid rgba($black, 0.12);
    
    @include media-breakpoint-up(md) {
        padding-bottom: to-rem(40);
        margin-bottom: to-rem(64);
    }
}

.my-form--danger {
    .my-form-control {
        border-color: $danger;
    }
}

.my-form-group-inline {
    display: flex;
    flex-wrap: wrap;
    margin-right: to-rem(-12);
    margin-left: to-rem(-12);
    
    .my-form-group {
        flex: 1 0 to-rem(220);
        margin-right: to-rem(12);
        margin-left: to-rem(12);
    }

    .flex-g-1 {
        flex-grow: 1;
    }

    .flex-g-2 {
        flex-grow: 2;
    }

    .flex-g-3 {
        flex-grow: 3;
    }
}


.my-form-group--icon-calendar:before {
    content: fa-content($fa-var-calendar-alt);
}

.my-form-group--icon-user:before {
    content: fa-content($fa-var-user);
}

.my-form-group--icon-clock:before {
    content: fa-content($fa-var-clock);
}

.my-form-group--icon-mail:before {
    content: fa-content($fa-var-envelope);
}

.my-form-group--icon-password:before {
    content: fa-content($fa-var-key);
    font-weight: 900;
}

[class*="my-form-group--icon"] {
    position: relative;

    &:before {
        display: block;
        position: absolute;
        left: to-rem(16);
        bottom: to-rem(16);
        font-family: 'Font Awesome 5 Free';
        font-size: to-rem(20);
        line-height: 1;
        text-align: center;
        width: to-rem(20);
        height: to-rem(20);
        color: rgba($black, 0.5);
        z-index: 1;
    }

    .my-form-control {
        padding-left: 0;
        text-indent: to-rem(16 + 20 + 12);
    }
}

// Form Control

.label {
    @extend .body-2;
    display: inline-block;
    font-family: $cabin;
    font-weight: bold;
    margin-bottom: to-rem(8);
}

.my-form-group {
    margin-bottom: to-rem(24);
    
    label {
        @extend .label;
    }
}

.my-form-control {
    padding: to-rem(12) to-rem(16);
    font-family: $ssp;
    color: $black;
    background: #fff;
    width: 100%;
    border: $form-border-size solid $form-border-color;
    border-radius: $form-border-radius;
    @extend .body-1-alt;

    &:focus,
    &.focus {
        outline-width: 1px;
        outline-color: rgba($peach, 0.8);
        outline-offset: -2px;
        outline-style: auto;
    }
}

.my-form-control[disabled] {
    background-color: $light-grey;
}

textarea.my-form-control {
    @include media-breakpoint-up(lg) {
        min-height: to-rem(156);
    }
}

.textarea-with-indicator {
  position: relative;
}

.textarea-indicator {
  position: absolute;
  right: to-rem(16);
  bottom: to-rem(16);
  color: rgba(0, 0, 0, 0.6);
}

select.my-form-control {
    min-height: to-rem(48);

    @include media-breakpoint-up(md) {
        min-height: to-rem(53);
    }
}

.my-form-control--inline-small {
    display: block;
    padding: 0.5rem 0.75rem;
    margin-top: to-rem(12);

    @include media-breakpoint-up(md) {
        width: auto;
        display: inline-block;
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
        margin-top: 0;
        position: absolute;
        transform: translate(to-rem(12), to-rem(-6));
    }
}

.my-form__title {
    @extend .heading-2;
    margin-bottom: to-rem(64);
}

.my-form__help {
    @extend .body-2;
    margin-bottom: to-rem(24);
}

.my-form__set-title {
    @extend .heading-3;
    margin-bottom: to-rem(16);
}

.my-form__terms {
    color: rgba($black, 0.75);
    margin-bottom: to-rem(24);
}

.my-form__error {
    margin-top: to-rem(8);
    font-size: to-rem(14);
    font-family: $ssp;
    color: $danger;
}

.my-form__help-below {
    margin-top: to-rem(8);
    @extend .body-2;
}



// Style for Checkbox
.my-form-check {
    position: relative;
    padding-left: to-rem(24);
    margin-bottom: to-rem(12);

    label {
        margin-bottom: 0;
    }
    
    .my-form-check-label {
        @extend .body-1;
        margin-bottom: 0;
    }
}

.my-form-check-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: to-rem(-24);
}

.my-form-check-input--with-inline {
    top: 16px;
}



.my-form__terms-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: to-rem(24);

    input[type="checkbox"] {
        margin-top: 4px;
        flex-basis: 20px;
        margin-right: 8px;
    }

    p {
        flex: 1 0;
    }
}

// Autocomplete Suggestions
.my-form-group__autocomplete {
    position: relative;
}

.my-form-group__suggestions {
    position: absolute;
    top: 100%;
    transform: translateY(to-rem(8));
    width: 100%;
    background-color: #FFF;
    padding: to-rem(8) to-rem(12);
    border-radius: to-rem(4);
    border: 1px solid $form-border-color;
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 1;

    @media screen and (min-width: 500px) {
        height: to-rem(300);
        overflow-y: auto;
    }
}


.my-form-group__suggestion-item {
    margin-bottom: 0;
    padding: to-rem(4) to-rem(4);

    &:hover {
        cursor: pointer;
        background: lighten($orange, 25%);

    }

    &.active {
        background: lighten($orange, 30%);
    }
}

.my-form-group__suggestion-empty {
    margin-bottom: 0;
    padding: to-rem(4) to-rem(4);
}

.full-page-search {
    @media screen and (max-width: #{to-rem(500)}) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        overflow-y: auto;
        background-color: #FFF;
        padding: to-rem(16);
        margin: 0 !important;
    
        .my-form-group__autocomplete {
            display: flex;
        }
    
        .my-form-group__suggestions {
            box-shadow: none;
            border: none;
        }
    }
}
