.heading {
    margin-bottom: to-rem(40);

    .heading__title {
        @extend .heading-display;
        letter-spacing: -1.2px;
        font-size: to-rem(48);
        margin-top: 0;
        margin-bottom: 0;
        
        &--inverse {
            color: #FFF;
        }
    }

    .heading__subtitle {
        @extend .body-2-alt;
        margin-bottom: 0;

        &--inverse {
            color: rgba(#FFF, 0.5);
        }
    }
}

.help__title {
    font-size: to-rem(16);
    color: rgba($black, 0.5);
    font-weight: bold;
}