.header-hero {
	margin-bottom: to-rem(24);
    max-width: to-rem(712);
}
.wrapper-hero {
    position: relative;
    z-index: 1;
    width: 100%;
}
#intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	width: 100%;
	height: 80vh;
	min-height: to-rem(450);
	transition: background 500ms ease-in-out;
	h1 {
        color: $color-white;
        font-weight: bold;
        font-size: to-rem(36);
        line-height: 1.4;

        @include media-breakpoint-up(md) {
            font-size: to-rem(64); 
            line-height: 1.2;
        }
    }
	.rotation {
        height: to-rem(52);
		overflow: hidden;
		text-align: center;
        vertical-align: bottom;
        
        @include media-breakpoint-up(md) {
            height: 5rem;
        }

		span {
			display: block;
			background-color: $peach;
			color: $color-white;
			font-weight: bold;			
            padding: 0 0.5rem;
            font-size: to-rem(36);

            @include media-breakpoint-up(md) {
                font-size: to-rem(64);
            }
		}
	}
	.form-search-city:not(.full-page) {
		max-width: to-rem(712);
	}
	#cityHelp {
        color: #FFF;
        ul {
            display: inline;
            padding-left: to-rem(8);
            
            li {
                display: inline;
                margin-right: to-rem(8);
                a {
                    color: #FFF;
                }
            }
        }
	}
	&.background-0 {
		background: url('../img/sosialita.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.background-1 {
		background: url('../img/pejabat.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.background-2 {
		background: url('../img/bisnis.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.background-3 {
		background: url('../img/student.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.form-search-city {
	input {
		margin: 1.5rem 0;
		padding-left: to-rem(16);
		padding-right: to-rem(140);
		padding-top: to-rem(24);
		padding-bottom: to-rem(24);
		font-size: to-rem(16);
		font-family: $ssp;
		border-radius: 3px;
		background-color: #ffffff;
		box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.12);
		line-height: 1.4;
		text-align: left;
        border: none;
        
        @include media-breakpoint-up(sm) {
            padding-left: 2rem;
            font-size: to-rem(20);
            padding-right: to-rem(131);
		    padding-top: to-rem(24);
		    padding-bottom: to-rem(24);
        }

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			opacity: 0.4;
			font-family: $ssp;
			line-height: 1.4;
			letter-spacing: -0.4px;
			text-align: left;
			color: #262626;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			opacity: 0.4;
			font-family: $ssp;
			line-height: 1.4;
			letter-spacing: -0.4px;
			text-align: left;
			color: #262626;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			opacity: 0.4;
			font-family: $ssp;
			line-height: 1.4;
			letter-spacing: -0.4px;
			text-align: left;
			color: #262626;
		}
		&:-moz-placeholder { /* Firefox 18- */
			opacity: 0.4;
			font-family: $ssp;
			line-height: 1.4;
			letter-spacing: -0.4px;
			text-align: left;
			color: #262626;
		}
	}
	.input-footer {
		font-family: $ssp;
		font-size: .875rem;
		line-height: 1.23;
		letter-spacing: -0.3px;
		color: $color-black;
		opacity: .6;
		&-bold {
			color: $color-black;
			font-weight: bold;
		}
	}
	.wrapper-input {
		position: relative;
		display: flex;
		.btn-search-buddy {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 2%;
		}
	}
	ul {
		padding-left: .5rem;
		li {
			margin-right: .25rem;
		}
	}
}
.btn-search-buddy {
	width: auto;
	padding: to-rem(12) to-rem(16);
	border-radius: 4px;
	background-color: $peach;
	font-size: 1rem;
	line-height: 1.25;
	color: #fff;
	&.hollow {
		color: $peach;
		background-color: #fff;
		border: solid 1px $peach;
		&:hover {
			color: $peach;
		}
	}
	&:hover {
		color: #fff;
	}
}