#hiw {
	margin-top: 5rem;
	margin-bottom: 5rem;
	iframe {
		border-radius: 8px;
	}
	.h1 {
		margin-bottom: 4rem;
    color: $color-black;
    
    span {
      white-space: nowrap;
    }
	}
	.div-flex {
		align-items: center;
		justify-content: flex-start;
  }
	.sub-heading {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: $color-black;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
  }
  .how-to-step {
    $circle-radius: to-rem(52);
    position: relative;
    .list-accent {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translate(to-rem(27), -50%);
      width: to-rem(1000);
      height: calc(100% + #{to-rem(8)});
      border-radius: 4px;
      border: solid 2px #de5f4e;
      z-index: -99;

      @include media-breakpoint-up(xl) {
        width: to-rem(300);
      }
    }
    .how-to-step-list {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      .media {
        margin-top: 12px;
        margin-bottom: 12px;
        .circle-wrapper {
          width: $circle-radius;
          height: $circle-radius;
          background-color: $body-bg-white;
          border: solid 2px #de5f4e;
          border-radius: 50%;
          justify-content: center;
          margin-right: 1rem;
          .mr-3 {margin-right: 0 !important;}
        }
        .media-body {
          h5 {
            @extend .sub-heading;
            font-size: 1.25rem !important;
            color: $color-black !important;
          }
          span {
            opacity: 0.75;
            font-family: $ssp;
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: $color-black;
          }
        }
      }
    }
  }
  .btn-search-buddy {
    margin-top: .3rem;
    margin-left: 4rem;
  }
}