#how-it-works {
	.hiw-body {
		padding: 2rem 0;
		height: auto;
		position: relative;
		#navbar-example3 {padding-top: 1rem;}
		#hiw-list-scrollspy {
			background-color: transparent !important;
			border: none;
		  border-right: 2px solid rgba($color-black, .12);
			.scrollspy-wrapper:not(:last-child) {margin-bottom: 2rem;}
			.nav-link-header {
				font-size: 2rem !important;
			}
			.nav-link {font-size: 1.25rem;}
			.nav-link, .nav-link-header {
				font-family: $cabin;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: -0.9px;
				color: rgba($color-black, .86);
				border-left: 12px solid transparent;
				transition: $transition;
			}
			.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
				transition: $transition;
				color: rgba($color-black, .86);
				background-color: transparent;
				border-left: 12px solid $green;
				border-radius: 0;
			}
		}
		.hiw-body-scrollspy {
			height: 100%;
			overflow-y: auto;
			position: absolute;
			padding-right: 4rem;
		}
	}
}