.tb-modal-open {
    overflow: hidden;
}

.tb-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    z-index: 999;
    overflow: auto;
    font-size: to-rem(14);

    @include media-breakpoint-up(md) {
        font-size: to-rem(16);
    }

    .tb-modal__content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        box-shadow: 0 2px 6px 0 rgba(38, 38, 38, 0.05);
        
        @include media-breakpoint-up(lg) {
            border-radius: to-rem(8);
            margin-top: to-rem(100);
            margin-bottom: to-rem(100);
        }

        &.large {
            max-width: to-rem(800);
        }

        &.medium {
            max-width: to-rem(500);
        }
    }

    .tb-modal__body {
        padding: to-rem(24);
    }

    .tb-modal__action {
        padding: to-rem(24);
        text-align: right;

        button {
            margin-right: to-rem(8);
        }
    }

}