.my-hero {
    background: $melon;
    overflow: hidden;
    
    .my-hero__body {
        padding-top: to-rem(40);
        padding-bottom: to-rem(40);
        @include media-breakpoint-up(md) {
            padding-top: to-rem(80);
            padding-bottom: to-rem(80);
        }

        .my-hero__title {
            @extend .heading-1;
            color: #FFF;
        }

        p {
            @extend .body-1;
            color: #FFF;
            margin-bottom: 0;
        }
    }

    .my-hero__image {
        position: relative;
        @include media-breakpoint-down(sm) {
            img {
                width: 100vw;
                position: relative;
                max-width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
        }
        @include media-breakpoint-up(md) {
            height: 100%;
            width: 100%;
    
            img {
                position: absolute;
                width: 50vw;
                max-width: 50vw;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}