.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
}

.vertical-nav {
    display: block;
    margin-bottom: to-rem(24);
    ul,
    &.ul {
        padding-left: to-rem(24);
    }

    li {
        display: block;
        margin-bottom: to-rem(8);

        a {
            @extend .heading-4;
            color: rgba($black, 0.5) !important;
            position: relative;
            display: block;
            transition: 300ms ease;
            padding: 0;
            
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: to-rem(-24);
                transform: translateY(-50%);
                height: 0;
                opacity: 0;
                width: to-rem(8);
                background-color: $green-blue;
                transition: opacity 300ms ease;
            }
        }
        
        a.active,
        a:hover {
            color: $black !important;
            &:before {
                content: '';
                opacity: 1;
                height: 100%;
            }          
        }

        a.inverse {
            color: rgba(#FFF, 0.5);
        }
        
        a.inverse.active,
        a.inverse:hover {
            color: #FFF;
        }
    }
}

.vertical-nav__title {
    padding: 0;
    font-size: to-rem(16);
    font-weight: bold;
    color: rgba($black, 0.25);
    font-family: $cabin;
    margin-bottom: to-rem(16);

    &.active {
        color: rgba($black, 1) !important;
    }

    &.vertical-nav__title--active {
        color: $black !important;
    }

    &:hover {
        color: rgba($black, 1) !important;
    }

    &--inverse {
        color: rgba(#FFF, 0.25);
    }
}

.sidebar-wrapper {
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
        padding-top: to-rem(40);
        padding-bottom: to-rem(40);
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100%;
        max-height: 100vh;
    
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            height: 100%;
            width: 100vh;
            z-index: -1;
        }
    }
}

/**
 * Tab nav
 */
.tb-tab-nav {
    padding-left: 0;
    background-color: $charcoal;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .tb-tab-nav__item {
        list-style: none;

        a {
            display: block;
            padding-top: to-rem(16);
            padding-bottom: to-rem(12);
            color: rgba(#FFF, 0.75);
            transition: 300ms ease;
            border-bottom: 4px solid transparent;
        }

        &.active {
            a {
                color: $peach;
            }
        }

        a {
            &:hover {
                color: $peach;
            }
        }
    }
     
    @include media-breakpoint-up(md) {
        flex-direction: row;
        .tb-tab-nav__item {
            margin-right: to-rem(20);
            margin-left: to-rem(20);
            
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                a {
                    color: rgba(#FFF, 1);
                    border-bottom: 4px solid $peach;
                }
            }

            a {
                &:hover {
                    color: rgba(#FFF, 1);
                    border-bottom: 4px solid $peach;
                }
            }
        }
    }
 }