.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fafbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: to-rem(24);

    .popup__dialog {
        width: 100%;
        max-width: to-rem(528);
        padding: to-rem(40) to-rem(40) 0 to-rem(40);
        border-radius: 8px;
        background-color: #FFF;
        box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);
        
        .popup__content {
            max-width: 528px;
        }

        .popup__title {
            @extend .heading-2;
            margin-top: 0;
            margin-bottom: to-rem(12);
        }
        
        .popup__body {
            @extend .body-2;
        }

        .popup__navigation {
            margin-top: to-rem(40);
            padding: to-rem(24) 0;
            text-align: center;
            border-top: 1px solid rgba($black, 0.12);
        }
    }
}