.profile__section {
    margin-bottom: to-rem(64);
}

.profile__banner {
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    height: to-rem(400);
}

.profile__picture-wrapper {
    @include aspect-ratio(1, 1);
}

.profile__picture {
    margin-bottom: to-rem(32);
    border-radius: to-rem(8);
    overflow: hidden;
    box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .profile__price {
        position: absolute;
        bottom: to-rem(16);
        left: 50%;
        transform: translateX(-50%);
        padding: to-rem(8) to-rem(8);
        background-color: #FFF;
        border-radius: to-rem(40);
        font-size: to-rem(14);
        font-weight: bold;
        min-width: to-rem(130);
        text-align: center;
        
        .profile__price-time {
            font-weight: to-rem(14);
            color: rgba($black, 0.5);
        }
    }
}

.profile__picture-action-wrapper {
    display: none;
    position: absolute;
    top: to-rem(16);
    right: to-rem(16);
    z-index: 1;
}

.profile__picture-action {
    display: inline-block;
    border-radius: to-rem(4);
    color: #FFF;
    font-size: to-rem(12);
    height: to-rem(28);
    width: to-rem(24);
    text-align: center;
    line-height: to-rem(28);
    padding: 0;
    cursor: pointer;

    &:hover {
        color: #FFF;
    }

    &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
    }
}

.profile__picture-action--save {
    background: rgba($green, 0.6);
    border: 1px solid darken($green, 5%);

    &:before {
        content: fa-content($fa-var-check);
    }
}

.profile__picture-action--cancel {
    background: rgba($danger, 0.6);
    border: 1px solid darken($danger, 5%);

    &:before {
        content: fa-content($fa-var-times);
    }
}


.profile__picture.changed {
    .profile__picture-action-wrapper {
        display: block;
    }
}

.profile__name {
    @extend .heading-1;
}

.profile__description {
    @extend .body-1;
}

.profile__book-me {
    margin-bottom: to-rem(32);
    text-align: center;
    display: block;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.profile__pick-me {
    max-width: 100%;
    width: to-rem(300);
    text-align: center;
    display: block;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.profile__title {
    @extend .heading-2;
    margin-bottom: to-rem(24);
}

.profile__skills {
    &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $orange;
        display: inline-block;
        width: to-rem(68);
        padding-left: to-rem(24);
        padding-right: to-rem(16);
    }

    &.interest:before {
        content: fa-content($fa-var-heart);
    }

    &.language:before {
        content: fa-content($fa-var-language);
    }
    &.skill:before {
        content: fa-content($fa-var-globe);
    }

    @extend .heading-3;
}

.profile__list {
    padding-left: to-rem(68);
    margin-bottom: to-rem(24);

    li {
        font-size: to-rem(16);
        font-family: $ssp;
        list-style: none;

        @include media-breakpoint-up(md) {
            font-size: to-rem(20);
        }
    }
}

.profile__list.city-coverage {
    padding-left: 0;

    li {
        font-family: $cabin;
        font-weight: bold;
        margin-bottom: to-rem(8);

        &:before {
            content: fa-content($fa-var-globe);
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: $orange;
            display: inline-block;
            width: to-rem(68);
            padding-left: to-rem(24);
            padding-right: to-rem(16);
        }
    }
}

.profile__tab {
    background-color: $charcoal;
}

.photo-input {
    display: none;
}

.photo-input__error {
    display: block;
    color: $danger;
    font-size: to-rem(14);
    margin-bottom: to-rem(12);

    &.hide {
        display: none;
    }
}