#search-buddy {
	.card {
        border-radius:8px;
        border: none;
        margin-bottom: 2.5rem;
        width: 100%;
    }
	.card-container {
		padding: 0;
		margin-bottom: 5rem;
	}
	.form-search-city {
		input {width: 100% !important;}
		.btn-search-buddy {right: 2%;}
	}
	.search-query {
	  font-family: $ssp;
	  font-size: 1rem;
	  line-height: 1.5;
	  letter-spacing: -0.4px;
		span {
			font-weight: bold;
		}
	}
	.pp-wrapper {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
		.price-buddy {
			width: max-content;
			padding: 0.25rem 1.5rem;
			border-radius: 100px;
		  background-color: #fafbfb;
		  border: solid 1px #eceff1;
		  position: absolute;
			bottom: 1rem;
			right: 1rem;
		  p {
		  	margin: 0;
		  	font-weight: bold;
		  	.dur {
		  		opacity: .5;
		  	}
		  }
		}
	}
	.name-age {
		justify-content: space-between;
		.card-title, p {
			margin: 0;
		}
		p {
			// opacity: 0.75;
			span {
				font-weight: bold;
			}
		}
	}
	.abilities {
		margin-bottom: .5rem;
		align-items: flex-start;
        
        .abilities__icon {
            flex-basis: to-rem(24);
            flex-grow: 0;
            flex-shrink: 0;
			height: to-rem(24);
			width: to-rem(24);
            margin-right: to-rem(6);
            margin-top: to-rem(4);
            color: rgba($black, 0.5);
            text-align: center;
        }
        
		p {
			margin-bottom: 0;
			color: rgba($color-black, 0.6);
			font-size: to-rem(14);
		}
	}
	.card-body {
        display: flex;
        flex-flow: column;
		font-family: $ssp;
        
        .card-title {
			font-family: $cabin;
			font-weight: bold;
		}
		.country {
			// opacity: 0.75;
			span {
				opacity: 1 !important;
				font-weight: bold;
				color: $peach;
			}
		}
		.button-wrapper {
            margin-top: auto;
			margin-right: to-rem(-6);
			margin-left: to-rem(-6);
			& > * {
				flex: 1;
				margin-right: to-rem(6);
				margin-left: to-rem(6);
			}
		}
		.btn-search-buddy {
			margin-top: to-rem(24);
		}
	}
}