.steps {
    .step {
        position: relative;
        background: #FFF;
        border-radius: to-rem(8);
        margin-bottom: to-rem(30);
        border: solid 1px #eceff1;
    }

    .step__num {
        position: absolute;
        top: to-rem(16);
        left: to-rem(16);
        width: to-rem(40);
        height: to-rem(40);
        background: $green-blue;
        color: #FFF;
        border-radius: to-rem(8);
        line-height: to-rem(40);
        text-align: center;
    }
}