.story {
    padding-top: to-rem(24);
    padding-bottom: to-rem(24);
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    .story__images {
        @include media-breakpoint-down(sm) {
            margin-bottom: to-rem(24);
            flex-basis: to-rem(500);
        }
        display: flex;
        flex-direction: column;
        flex: 0 0 to-rem(344);
        position: relative;
        margin-top: to-rem(-12);
        margin-bottom: to-rem(-12);

        .story__image {
            flex: 1 1 0;
            position: relative;
            margin-top: to-rem(12);
            margin-bottom: to-rem(12);
            margin-right: to-rem(24);


            img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                border-radius: 8px;
            }
        }     
    }
    
    .story__body {
        .story__title {
            @extend .heading-1;
        }
    
        .story__paragraph {
            @extend .body-1;
        }

        .story__paragraph:last-child {
            margin-bottom: 0;
        }
    }
}