#testimonials {
	padding-bottom: 5rem;
	.h1 {color: $color-black;}
	.testimonials-carousel {
		margin-top: 2.5rem;
		.slick-list {
			height: 18.5rem;
			background-color: #eceff1;
			padding: 1.5rem 0;
			border-radius: 8px;
		}
		.slick-prev, .slick-next {
			background: transparent;
			color: $color-black !important;
			&:before {
				color: $color-black;
			}

			display: none !important;

			@include media-breakpoint-up(md) {
				display: inline-block !important;
			}
		}
		.testimonial-item {
			display: flex;
			flex-wrap: wrap;
			margin: to-rem(12);
			background: #fff;
			padding: 1.5rem;
			border-radius: 8px;
			box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);
			
			max-width: to-rem(300);

			@include media-breakpoint-up(md) {
				max-width: to-rem(600);
			}

			@include media-breakpoint-up(xl) {
				max-width: to-rem(712);
			}

			.testimonial-photo {
				width: to-rem(160);
				height: to-rem(200);
				object-fit: cover;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: to-rem(24);

				@media screen and(min-width: #{to-rem(767)}) {
					margin-bottom: 0;
					margin-left: 0;
					margin-right: to-rem(24);
				}
			}
			.testimonial-text {
				flex-basis: to-rem(300);
				flex-grow: 1;
				p {
					margin: 0;
					opacity: 0.75;
					font-family: $ssp;
					font-size: 1rem;
				 }
				.author-buddy {
					font-weight: bold;
				  	.name {color: $orange;}
				  	.place {opacity: 0.5;}
				}
			}
		}
	}
}