.to-top {
    position: fixed;
    bottom: to-rem(8);
    right: to-rem(52);
    width: to-rem(40);
    height: to-rem(40);
    opacity: 0;
    background-color: rgba($orange, 0.8);
    border-radius: to-rem(4);
    text-align: center;
    transition: 300ms ease;
    cursor: pointer;

    &.active {
        opacity: 1;
    }
    
    .to-top__link:before {
        content: fa-content($fa-var-arrow-up);
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #FFF;
        line-height: to-rem(40);
    }
}

.sticky-hotline {
    position: fixed;
    bottom: to-rem(8);
    right: to-rem(8);
    width: to-rem(40);
    height: to-rem(40);
    background-color: rgba($orange, 0.8);
    border-radius: to-rem(4);
    text-align: center;
    transition: 300ms ease;
    cursor: pointer;

    .sticky-hotline__link {
        color: #FFF;
        line-height: to-rem(40);
    }
}