#wwi {
	padding: 5rem 0;
	.img-wrapper {
	  position: relative;
		.num-wrapper {
			width: 2.5rem;
		  height: 2.5rem;
		  border-radius: 4px;
		  background-color: #00ae99;
		  position: absolute;
			bottom: 1rem;
			left: 1rem;
			.num {
			  font-family: $cabin;
			  font-size: 1.5rem;
			  font-weight: bold;
			  line-height: 1.7;
			  letter-spacing: -0.7px;
			  text-align: center;
			  color: #fff;
			  margin: 0;
			}
		}
		img {
			height: 10.5rem;
			object-fit: cover;
		}
	}
	.card {
		border: none;
		box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);
		height: 19rem;
		margin-bottom: 1.875rem;
		.card-body {
			border-radius: 8px;
			padding: 1.5rem;
		}
		&.values-intro {
		  font-family: $cabin;
		  font-size: 2.5rem;
		  font-weight: bold;
		  line-height: 1.2;
		  letter-spacing: -1.3px;
		  .card-body {
		  	padding: 2rem;
		  	background-color: $peach;
		  	.card-text {
		  		color: #fff;
			  	span {color: $color-black;}
			  }
		  }
		}
		&.values {
			.card-title {
			  font-family: $cabin;
			  font-size: 1.5rem;
			  line-height: 1.17;
			  letter-spacing: -0.7px;
			}
			.card-text {
			  opacity: 0.5;
			  font-family: $ssp;
			  font-size: 1rem;
			  line-height: 1.5;
			  letter-spacing: -0.4px;
			}
		}
	}
}