<template>
  <v-autocomplete
    id="cityTag"
    name="city"
    class-name="my-form-control"
    :itemSelector="itemSelectorCity"
    :changeItems="changeItemsCity"
    empty-message="Kota tidak ditemukan"
    v-model="value"
    :items="items"
    :required="true">


  </v-autocomplete>
</template>


<script>
import axios from 'axios';
import AutocompleteInput from './template/AutocompleteInput';
export default {
    data() {
        return {
            value: 'asdw',
            items: [],
        }
    },
    components: {
        'v-autocomplete': AutocompleteInput
    },
    methods: {
        itemSelectorCity(item) {
            return item.city;
        },
        changeItemsCity(value) {
             // Change items based on current value
            axios.get(`/api/city?country=${'indonesia'}&city=${value}`)
                .then((response) => {
                    this.items =  response.data.city;
                })
                .catch(function (error) {
                    return error;
                });
        },
    }
}
</script>

