<template>
  <v-tag
    id="cityTag"
    name="city"
    class-name="my-form-control"
    :itemSelector="itemSelectorCity"
    :changeItems="changeItemsCity"
    empty-message="Kota tidak ditemukan"
    :required="true">

  </v-tag>
</template>


<script>
import axios from 'axios';
import AutocompleteInputTagging from './template/AutocompleteInputTagging';
export default {
    components: {
        'v-tag': AutocompleteInputTagging
    },
    methods: {
        itemSelectorCity(item) {
            return item.city;
        },
        changeItemsCity(value) {
             // Change items based on current value
            return axios.get(`/api/city?country=${'indonesia'}&city=${value}`)
                .then((response) => {
                    return response.data.city;
                })
                .catch(function (error) {
                    return error;
                });
        },
    }
}
</script>

