<template>
    <div class="my-form-group__autocomplete">
        <label :for="id">{{ label }}</label>
        <input
        v-model="value"
        type="text"
        :id="id"
        :name="name"
        :class="className"
        :placeholder="placeholder"
        v-on:keyup.down="navigate('down')"
        v-on:keyup.up="navigate('up')"
        v-on:keyup.enter="enterHandler"
        autocomplete="off"
        :required="required">

        <div v-show="showResults" class="my-form-group__suggestions">
            <div
                @mousedown="selectItem(index)"
                :class="selectedIndex === index ? 'my-form-group__suggestion-item active' : 'my-form-group__suggestion-item'"
                v-for="(item, index) in items" :key="item.id">
                <p class="my-form-group__suggestion-text">{{ item.city }}</p>
            </div>
            <p v-if="showEmpty" class="my-form-group__suggestion-empty">{{ emptyMessage }}</p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    
    export default {
        data() {
            return {
                value: '',
                selected: null,
                items: [],
                showResults: false,
                showEmpty: false,
                selectedIndex: 0,
            }
        },
        props: {
            id: {
                type: String,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            className: {
                type: String,
                required: true
            },
            placeholder: {
                type: String,
                default: '',
            },
            required: {
                type: Boolean,
                default: false,
            },
            emptyMessage: {
                type: String,
                default: '',
            },
            country: {
                type: String,
                default: '',
            },
            label: {
                type: String,
                default: ''
            }
        },
        watch: {
            value: function() {
                this.changeItems();
            },
            country: function(newVal) {
                if (newVal === '' || newVal === null || newVal === undefined) {
                    this.selected = null;
                    this.value = null;
                }
            }
        },
        methods: {
            changeItems() {
                if (this.value === this.selected) return;

                if (this.value !== '') {
                    this.showResults = true;
                    this.selectedIndex = 0;
                    this.selected = null;

                    // Change items based on current value
                    axios.get(`/api/city?country=${this.country}&city=${this.value}`)
                        .then((response) => {
                            this.items = response.data.city;
                            
                            if (this.items.length > 0) {
                                this.showEmpty = false;
                            } else {
                                this.showEmpty = true;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    this.showResults = false;
                    this.items = [];
                }
            },
            selectItem(index) {
                let item = this.items[index].city;
                
                this.selected = item;
                this.value = item;
                this.showResults = false;                
            },
            navigate(direction) {
                if (this.selectedIndex === null) return;

                var directionValue = direction === 'down' ? 1 : -1;
                var totalItems = this.items.length;

                // Trick to compute modulo of negative number.
                // See https://dev.to/maurobringolf/a-neat-trick-to-compute-modulo-of-negative-numbers-111e
                this.selectedIndex = (((this.selectedIndex + directionValue) % totalItems) + totalItems) % totalItems;
            },
            enterHandler(e) {
                e.preventDefault();
                
                if (this.items.length === 0) return;
                
                this.selectItem(this.selectedIndex);
            },
        },
        mounted() {
            let input = document.getElementById(this.id)
            input.addEventListener('blur', () => {
                this.showResults = false;

                if (this.value !== this.selected) {
                    this.value = null;
                    this.selected = null;
                }
            });
        }
    }
</script>


<style lang="scss" scoped>

</style>


