<template>
    <div>
        <fieldset class="fieldset-bordered">
            <legend
                id="domisili"
                class="profile__title">Domisili</legend>
            <p class="my-form__help">
                Pilih kota tempat anda menetap saat ini.
            </p>
            <div class="my-form-group-inline">
                <div class="my-form-group">
                    <v-input-autocomplete
                        id="country"
                        name="country"
                        label="Negara"
                        class-name="my-form-control"
                        :required="true"
                        :change-items="changeItems"
                        :item-selector="itemSelector"
                        :items="countries"
                        placeholder="Negara"
                        v-model="selectedCountry"
                        empty-message="Negara tidak ditemukan">
                    </v-input-autocomplete>
                </div>
                
                <div ref="inputTaggingWrapper" class="my-form-group city-inputs">
                    <v-input-autocomplete
                        id="cityTag"
                        name="city"
                        label="Kota"
                        class-name="my-form-control"
                        :items="cities"
                        :itemSelector="itemSelectorCityPlace"
                        :changeItems="changeItemsCityPlace"
                        empty-message="Kota tidak ditemukan"
                        v-model="selectedCity"
                        placeholder="Kota"
                        :required="true">
                    </v-input-autocomplete>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset-bordered">
            <div class="my-form-group">
                <legend class="profile__title">Wilayah Cakupan</legend>
                <p class="my-form__help">
                    Pilih kota-kota lain di negara domisili yang dapat dikunjungi oleh Anda dan Traveler yang akan ditemani. Boleh memilih lebih dari satu.
                </p>
                <v-input-autocomplete-tagging
                    id="cityCoverage"
                    name="city_coverage"
                    label="Kota"
                    class-name="my-form-control"
                    :itemSelector="itemSelectorCity"
                    :changeItems="changeItemsCity"
                    v-model="selectedCityCoverage"
                    empty-message="Kota tidak ditemukan"
                    placeholder="Kota"
                    :required="true">
                </v-input-autocomplete-tagging>
            </div>
        </fieldset>

        <fieldset class="fieldset-bordered">
            <div class="my-form-group">
                <legend class="profile__title">Harga</legend>
                <p class="my-form__help">
                    Tentukan harga (per jam) yang sesuai dengan kemampuanmu. <span v-if="priceSuggestion">Untuk memudahkan, referensi standar harga di {{ selectedCountry }} adalah <strong>{{ formatPrice(priceSuggestion) }}</strong> per jam.</span>
                </p>
                <input
                    :value="price"
                    @input="priceFormatter"
                    name="price"
                    type="text"
                    min="0"
                    class="my-form-control"
                    :placeholder="priceSuggestion ? priceSuggestion : 'Harga (per jam)'">
            </div>
        </fieldset>
    </div>
</template>

<script>
import Vue from 'vue';

import AutocompleteInput from './template/AutocompleteInput'
import AutocompleteInputTagging from './template/AutocompleteInputTagging';

import axios from 'axios';

export default {
    data() {
        return {
            countries: [],
            cities: [],
            showCityField: false,
            selectedCountry: this.valueCountry,
            selectedCity: this.valueCity,
            selectedCityCoverage: this.valueCityCoverage,
            priceSuggestion: null,
            price: this.valuePrice
        }
    },
    props: {
        valueCountry: {
            type: String,
            default: null
        },
        valueCity: {
            type: String,
            default: null
        },
        valueCityCoverage: {
            type: Array,
            default: () => []
        },
        valuePrice: {
            type: String,
            default: null
        }
    },
    watch: {
        selectedCountry(country) {
            this.setPriceSuggestion(country);
        },
    },
    components: {
        'v-input-autocomplete': AutocompleteInput, 
        'v-input-autocomplete-tagging': AutocompleteInputTagging
    },
    methods: {
        setPriceSuggestion(country) {
            axios.get(`/api/price?country=${country}`)
            .then((result) => {
                if (result.data.length > 0) {
                    this.priceSuggestion = result.data[0].price;
                }
            })
            .catch(function(error) {
            });
        },
        priceFormatter(e) {
            let formatted = e.target.value.replace(/\D/g,'').replace(/^0+/, '');
            e.target.value = formatted;
        },
        formatPrice(price) {
            return 'Rp' + price.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1.');
        },
        itemSelector(item) {
            return item.country;
        },
        itemSelectorCityPlace(item) {
            return item.city;
        },
        itemSelectorCity(item) {
            return item.city;
        },
        changeItems(value) {
            // Change items based on current value
            axios.get(`/api/country?country=${value}`)
                .then((response) => {
                    this.countries = response.data.country;
                })
                .catch(function (error) {
                    return error;
                });
        },
        changeItemsCityPlace(value) {
             // Change items based on current value
            return axios.get(`/api/city?country=${this.selectedCountry}&city=${value}`)
                .then((response) => {
                    this.cities = response.data.city;
                })
                .catch(function (error) {
                    return error;
                });
        },
        changeItemsCity(value) {
             // Change items based on current value
             console.log(value);
            return axios.get(`/api/city?country=${this.selectedCountry}&city=${value}`)
                .then((response) => {
                    return response.data.city;
                })
                .catch(function (error) {
                    return error;
                });
        },
        getCountry() {
            let countryInput = document.getElementById('country');
            return countryInput.value;
        },
        onFocus() {
            this.$refs.inputTaggingWrapper.classList.add('focus');
        },
        onBlur() {
            this.$refs.inputTaggingWrapper.classList.remove('focus');
        }
    },
    mounted() {
        let countryInput = document.getElementById('country');

        if (this.selectedCountry) {
            this.setPriceSuggestion(this.selectedCountry);
        }

        countryInput.addEventListener('input', () => {
            if (countryInput.value) {
                this.showCityField = true;
            } else {
                this.showCityField = false;
            }
        });
    }
}
</script>

