<template>
  <div>
    <label class="label">Bahasa</label>
    <div v-for="(language, index) in languages" :key="index" class="my-form-group">
      <input
        :value="language"
        type="text"
        name="language[]"
        class="my-form-control"
        placeholder="e.g Japanese, French"
        @input="handleInput(index, $event.target.value)"
        required>

      <button :disabled="index < 2" @click.prevent="removeLanguage(index, $event)" class="remove-language">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <p class="my-form__help-below">
        Tambahkan bahasa yang bisa digunakan orang lain untuk berbicara dengan Anda selain Bahasa Indonesia
    </p>
    <button
      @click.prevent="addLanguage"
      class="my-button my-button--grey">
      Tambah Bahasa
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      languages: this.initialLanguages,
    }
  },
  props: {
    initialLanguages: {
      type: Array,
      default: () => ['English', 'Indonesian']
    }
  },
  methods: {
    addLanguage(e) {
      e.preventDefault();
      if (!this.languages[this.languages.length -1]) {
        return;
      }
      this.languages = [...this.languages, '']
    },
    handleInput(index, value) {
      this.languages[index] = value;
    },
    removeLanguage(index, e) {
      e.preventDefault();
      this.languages = this.languages.filter((language, idx) => (
        idx !== index
      ))
    },
  }
}
</script>


<style lang="scss" scoped>
  .my-form-group {
    display: flex;
  }

  .remove-language {
    padding: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    background: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
      color: rgba(0, 0, 0, 0.3);
      cursor: not-allowed;
    }
  }
</style>


