$navbar-breakpoint: to-rem(1200);
$form-breakpoint: to-rem(0);
$navbar-width: to-rem(1300);

.tb-navbar__wrapper {
    padding: 0 calc((100% - #{$navbar-width}) / 2);
    background-color: #FFF;
}

.tb-navbar {
    position: relative;
    padding: to-rem(12) to-rem(16);    
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tb-navbar__logo.desktop {
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.tb-navbar__logo.mobile {
    flex-basis: 36px;
    flex-shrink: 0;

    img {
        width: 36px;
        height: 36px;
    }
    @media screen and (min-width: 500px) {
        display: none;
    }
}

.tb-navbar__nav-wrapper {
    @media screen and (max-width: $navbar-breakpoint) {
        padding: to-rem(16) to-rem(16);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #FFF;
        z-index: 99;
        box-shadow: 0 6px 8px 0px rgba(38, 38, 38, 0.05);
    }
    
    @media screen and (min-width: $navbar-breakpoint) {
        display: flex !important;
        align-items: center;
    }

    &[aria-expanded="false"] {
        display: none;
    }
    
    &[aria-expanded="true"] {
        display: block;;
    }
}

.tb-navbar__nav {
    position: relative;
    margin-left: auto;

    @media screen and (min-width: $navbar-breakpoint) {
        display: flex;
        align-items: center;
    }

    .tb-navbar__nav-link {
        display: block;
        font-family: $cabin;
        color: rgba($black, 0.75);
        transition: 200ms ease;
        
        &:hover {
            color: $peach;
        }

        @media screen and (max-width: $navbar-breakpoint) {
            &:not(:last-child) {
                margin-bottom: to-rem(16);
            }
        }
        
        @media screen and (min-width: $navbar-breakpoint) {
            display: inline-block;
            margin-left: to-rem(16);
            margin-right: to-rem(16);
        }
    }
}

.tb-navbar__nav-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tb-navbar__form {
    display: none;

    @media screen and (min-width: $form-breakpoint) {
        display: block;
        margin-right: auto;
        margin-left: to-rem(8);
        flex: 0 1 to-rem(250);

        .my-form-control {
            padding: to-rem(8) to-rem(8);
            font-size: to-rem(16);
        }
    }

    @media screen and (min-width: $navbar-breakpoint) {
        margin-left: to-rem(20);

        .my-form-control {
            padding: to-rem(12) to-rem(16);
            font-size: to-rem(16);
        }
    }
}

.tb-navbar__toggler {
    margin-right: to-rem(8);
    margin-left: to-rem(8);
    display: block;
    border: 0;
    background-color: transparent;
    color: rgba($black, 0.75);

    @media screen and (min-width: $navbar-breakpoint) {
        display: none;
    }
}

.tb-navbar__menu {
    @media screen and (min-width: $navbar-breakpoint) {
        width: to-rem(40);
        margin-left: to-rem(40);
    }
}

.tb-navbar__menu-icon {
    display: none;
    width: to-rem(40);
    height: to-rem(40);
    background-color: $grey;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media screen and (min-width: $navbar-breakpoint) {
        display: block;
    }
}

.tb-navbar__menu__nav {
    @media screen and (min-width: $navbar-breakpoint) {
        position: absolute;
        top: calc(100% + #{to-rem(8)});
        right: 0;
        width: to-rem(150);
        background-color: #FFF;
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba($black, 0.2);
        border-radius: to-rem(4);
        padding: to-rem(16) to-rem(24);
        transition: 300ms ease;
        z-index: 1;
    
        &[aria-expanded="false"] {
            opacity: 0;
        }
    
        &[aria-expanded="true"] {
            opacity: 1;
        }
    }
}

.tb-navbar__menu__nav-item {
    display: block;
    font-family: $cabin;
    color: rgba($black, 0.75);
    transition: 200ms ease;

    &:hover {
        color: $peach;
    }

    &:not(:last-child) {
        margin-bottom: to-rem(16);
    }
}