.login-form {
    background-color: #FFF;
    margin: to-rem(40) 0;
    // border-radius: to-rem(8);
    // box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.login-form__form {
    padding: to-rem(24);

    .login-form__submit {
        margin-bottom: to-rem(24);
        @extend .my-button;
        @extend .my-button--orange;
        @extend .my-button--block;
    }
}

.login-form__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: to-rem(12) to-rem(16);
    background-image: url('../img/about-us/green.jpg');
    min-height: 120px;
    background-size: cover;
    background-position: center;

    .login-form__title {
        @extend .heading-1;
        color: #FFF;
        margin-bottom: 0;
    }
}

.login-form__footer {
    padding: to-rem(16) 0;
    border-top: 1px solid rgba($black, 0.12);
    text-align: center;

    > * {
        color: rgba($black, 0.75);
        margin-bottom: 0;
    }
}