fieldset {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(black, 0.2);
}

.my-form__set-title {
    display: none;
}

.my-form__help {
    display: none;
}

.date-hour-calculations {
    font-size: 16px !important;
}

.my-form-group {
    margin-bottom: 1rem;
}

.my-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}