<template>
    <div>
        <button
            type="submit"
            :form="formId"
            class="my-button my-button--orange"
            @click="modalTrigger">
            Ajukan Booking Buddy
        </button>
        <div v-if="showModal" class="tb-modal">
            <div class="tb-modal__content large">
                <div class="tb-modal__body">
                    <h2 class="order-review__modal-title">Konfirmasi Order Booking Buddy</h2>
                    <p>Halo <strong>{{ orderData.name }}</strong> <br> Mohon periksa kembali data pesanan booking Anda.</p>

                    <div class="order-review__section">
                        <h3 class="order-review__section-title">Data Personal</h3>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Email</div>
                            <div class="accordion-order__cell value">{{ orderData.email }}</div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Phone</div>
                            <div class="accordion-order__cell value">{{ orderData.phone }}</div>
                        </div>
                    </div>

                    <div class="order-review__section">
                        <h3 class="order-review__section-title">Data Order</h3>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Kota Tujuan</div>
                            <div class="accordion-order__cell value">{{ orderData.tripDetails.destination }}</div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Rombongan</div>
                            <div class="accordion-order__cell value">
                                {{ orderData.tripDetails.totalAdults }} orang dewasa{{ orderData.tripDetails.totalChildren > 0 ? ', ' + orderData.tripDetails.totalChildren + ' orang anak-anak' : '' }}
                            </div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Tujuan Perjalanan</div>
                            <div class="accordion-order__cell value">
                                {{ printTripType() }}
                            </div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Deskripsi Perjalanan</div>
                            <div class="accordion-order__cell value"></div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell value">{{ orderData.tripDetails.tripDescription }}</div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell title">Pesan untuk Buddy</div>
                            <div class="accordion-order__cell value"></div>
                        </div>
                        <div class="accordion-order__row">
                            <div class="accordion-order__cell value">{{ orderData.messageToBuddy }}</div>
                        </div>
                    </div>

                    <div class="order-review__section">
                        <h3 class="order-review__section-title">Rincian Biaya</h3>
                        <div class="accordion-order__row lg-only">
                            <div class="accordion-order__cell"><strong>Tanggal</strong></div>
                            <div class="accordion-order__cell"><strong>Waktu (Jam)</strong></div>
                            <div class="accordion-order__cell"><strong>Harga</strong></div>
                        </div>
                        <div
                            v-for="(item, index) in orderData.tripDetails.dateHour"
                            :key="index"
                            class="accordion-order__row">
                            <div class="accordion-order__cell value">
                                <div class="my-form-group my-form-group--icon-calendar">
                                    <span class="label small-only">Tanggal</span>
                                    <div class="my-form-control">{{ item.date.format('ddd, DD/MM/YYYY') }}</div>
                                </div>
                            </div>
                            <div class="accordion-order__cell value">
                                <div class="my-form-group my-form-group--icon-clock">
                                    <span class="label small-only">Waktu</span>
                                    <div class="my-form-control">{{ item.hour }} Jam</div>
                                </div>
                            </div>
                            <div class="accordion-order__cell value lg-only">
                                <div class="my-form-group">
                                    <div class="my-form-control">
                                        {{ formatPrice(item.hour * buddyPrice) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="small-only">
                            <div class="accordion-order__row">
                                <div class="accordion-order__cell total-days">
                                    <span class="total">Waktu</span>
                                    <span>{{ orderData.tripDetails.dateHour.length }} Hari</span>
                                </div>
                            </div>
                            <div class="accordion-order__row">
                                <div class="accordion-order__cell total-hours">
                                    <span>{{ getTotalHours() }} Jam</span>
                                </div>
                            </div>
                            <div class="accordion-order__row">
                                <div class="accordion-order__cell total-price">
                                    <span class="price">Total Harga</span>
                                    <span>{{ formatPrice(getTotalPrice()) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-order__row lg-only">
                            <div class="accordion-order__cell total-days">
                                <span class="total">Total</span>
                                <span>{{ orderData.tripDetails.dateHour.length }} Hari</span>
                            </div>
                            <div class="accordion-order__cell total-hours">
                                <span>{{ getTotalHours() }} Jam</span>
                            </div>
                            <div class="accordion-order__cell total-price">
                                <span>{{ formatPrice(getTotalPrice()) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tb-modal__action">
                    <button
                        type="submit"
                        :form="formId"
                        class="my-button my-button--orange">
                        Ajukan Booking
                    </button>
                    <button
                        class="my-button my-button--grey"
                        @click.prevent="cancelHandler">
                        Perbaiki Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    data() {
        return {
            showModal: false,
            orderData: null
        }
    },
    props: {
        formId: {
            type: String,
            required: true
        },
        buddyPrice: {
            type: Number,
            required: true
        }
    },
    watch: {
        showModal(value) {
            if (value) {
                document.body.classList.add('tb-modal-open');
            } else {
                document.body.classList.remove('tb-modal-open');
            }
        }
    },
    methods: {
        modalTrigger(e) {
            let formEl = document.getElementById(this.formId);
            if (formEl.checkValidity()) {
                e.preventDefault();
            } else {
                return;
            }

            this.orderData = this.getOrderData();
            this.showModal = true;
        },
        cancelHandler() {
            this.showModal = false;
        },
        getOrderData() {
            let name = document.getElementById('name').value;
            let email = document.getElementById('email').value;
            let phone = document.getElementById('phone').value;
            let totalAdults = document.querySelector('[name="trip_details[total_adults]"]').value;
            let totalChildren =  document.querySelector('[name="trip_details[total_children]"]').value;
            let dateHour = this.getDateHour();
            let tripType = this.getTripType();
            let destination = document.querySelector('[name="trip_details[destination]"]').value;
            let tripDescription = document.querySelector('[name="trip_details[trip_description]"]').value;
            let messageToBuddy = document.querySelector('[name="message_to_buddy"]').value;

            return {
                name,
                email,
                phone,
                tripDetails: {
                    destination,
                    dateHour,
                    totalAdults,
                    totalChildren,
                    tripType,
                    tripDescription
                },
                messageToBuddy
            }
        },
        getTripType() {
            let checked = Array.from(document.querySelectorAll('[name="trip_details[trip_type][]"]:checked'));
            let manualInput = document.querySelector('input[type="text"][name="trip_details[trip_type][]"]')

            let types =  checked.map(item => item.value);
            if (manualInput) {
                types.push(manualInput.value);
            }

            return types;
        },
        getHours() {
            let hoursInput = Array.from(document.querySelectorAll('[name="hours_per_day[]"]'));
            return hoursInput.map(item => item.value);
        },
        getTotalHours() {
            let totalHoursArr = this.orderData.tripDetails.dateHour.map(item => item.hour);
            let totalHours = totalHoursArr.reduce((total, current) => {
                return total + parseInt(current);
            }, 0);

            return totalHours;
        },
        getDateHour() {
            let hours = this.getHours();

            let startDateString = document.querySelector('[name="start_date"]').value;
            let endDateString = document.querySelector('[name="end_date"]').value;

            let startDate = moment(startDateString, 'ddd, DD/MM/YYYY');
            let endDate = moment(endDateString, 'ddd, DD/MM/YYYY');

            let dateHour = [];

            for (let date = moment(startDate), i = 0; date <= endDate; date.add(1, 'days'), i++) {
                let item = {
                    date: moment(date),
                    hour: hours[i]
                }

                dateHour.push(item);
            }

            return dateHour;
        },
        printTripType() {
            let tripType = this.orderData.tripDetails.tripType;
            let tripTypeString = '';

            for (let i = 0; i < tripType.length; i++) {
                if (tripType.length === 1) {
                    return tripType[i];
                }
                
                if (i === tripType.length - 1) {
                    tripTypeString += tripType[i];
                } else {
                    tripTypeString += tripType[i] + ', ';
                }
            }
            return tripTypeString;
        },
        getTotalPrice() {
            return this.getTotalHours() * this.buddyPrice;
        },
        formatPrice: function(price) {
            let formatedPrice = 'Rp' + price.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1.');
            return formatedPrice;
        },
    },
    mounted() {
        document.addEventListener('keydown', e => {
            if (e.keyCode === 27) {
                this.showModal = false;
            }
        });
    }
}
</script>


<style lang="scss" scoped>
    @import "./resources/assets/sass/base/mixins";
    @import "./resources/assets/sass/base/variables";
    @import "./resources/assets/sass/plugins/fontawesome/scss/fontawesome";
    
    .label {
        margin-bottom: to-rem(4);
    }

    .accordion-order__row {
        margin-right: to-rem(-4);
        margin-left: to-rem(-4);

        @media screen and (max-width: #{to-rem(640)}) {
            flex-direction: column;
            margin-bottom: to-rem(12);
        }
    }

    .accordion-order__cell {
        @media screen and (max-width: #{to-rem(640)}) {
            &.title:after {
                content: '';
            }
        }
    }

    .accordion-order__cell {
        margin-right: to-rem(4);
        margin-left: to-rem(4);
    }

    .order-review__modal-title {
        font-family: $cabin;
        font-weight: bold;
        margin-bottom: to-rem(32);
    }

    .order-review__section {
        margin-bottom: to-rem(32);


        .order-review__section-title {
            font-family: $cabin;
            font-weight: bold;
            font-size: to-rem(24);
        }

        .my-form-group {
            margin-bottom: to-rem(8);
        }

        .total-days,
        .total-hours,
        .total-price, {
            text-transform: uppercase;
            font-weight: bold;
        }

        .total-days {
            display: flex;
            justify-content: space-between;

            .total {
                color: rgba($black, 0.5);
            }
        }

        .small-only {
            .accordion-order__row {
                flex-direction: row !important;
            }

            .total-hours {
                text-align: right;
            }

            .total-price {
                display: flex;
                justify-content: space-between;

                .price {
                    color: rgba($black, 0.5);
                }
            }
        }

        .lg-only {
            .total-hours,
            .total-price {
                text-align: center;
            }
        }
        

        .lg-only {
            @media screen and (max-width: #{to-rem(640)}) {
                display: none;
            }
        }

        .small-only {
            @media screen and (min-width: #{to-rem(640)}) {
                display: none;
            }
        }
    }
</style>

