<template>
    <div class="my-form-group__autocomplete">
        <label :for="id">{{ label }}</label>

        <div ref="formControl" class="my-form-control">
            <div
                class="tag__item"
                :id="'tag'+index"
                v-for="(tag, index) in tagged" :key="index">
                {{ tag }} <span class="tag__delete" @click="deleteTheTag(index)"><i class="fa fa-times"></i></span>
            </div>

            <input
                name="required"
                tabindex="-1"
                :value="inputValid ? 'valid' : ''"
                style="opacity: 0; width: 0"
                :required="required">

            <input
                ref="tagInput"
                v-model="inputValue"
                type="text"
                :id="id"
                class="my-form-control-tag"
                :name="name + '-dummy'"
                :placeholder="placeholder"
                @keyup.down="navigate('down')"
                @keyup.delete="deleteTag"
                @keyup.up="navigate('up')"
                @keyup.enter="enterHandler"
                @focus="onFocus"
                @blur="onBlur"
                autocomplete="off">

        </div>
        
        <input
            v-for="(tag, index) in tagged" :key="id + index"
            :name="name + '[]'"
            :value="tag"
            type="hidden">

        <div v-show="showResults" class="my-form-group__suggestions">
            <p
                @mousedown="selectItem(index)"
                :class="selectedIndex === index ? 'my-form-group__suggestion-item active' : 'my-form-group__suggestion-item'"
                v-for="(item, index) in items" :key="item.id">
                {{ itemSelector(item) }}
            </p>
            <p v-if="showEmpty" class="my-form-group__suggestion-empty">{{ emptyMessage }}</p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    
    export default {
        data() {
            return {
                inputValue: '',
                showResults: false,
                showEmpty: false,
                selectedIndex: 0,
                items: [],
                tagged: this.value,
                canDelete: false,
            }
        },
        props: {
            id: {
                type: String,
                default: (new Date).getTime().toString(),
            },
            name: {
                type: String,
                required: true
            },
            className: {
                type: String,
                required: true
            },
            placeholder: {
                type: String,
                default: '',
            },
            required: {
                type: Boolean,
                default: false,
            },
            emptyMessage: {
                type: String,
                default: '',
            },
            label: {
                type: String,
                default: ''
            },
            changeItems: {
                type: Function,
                required: true
            },
            itemSelector: {
                type: Function,
                required: true
            },
            value: {
                type: Array,
                default: () => []
            }
        },
        watch: {
            inputValue: function(newVal, oldVal) {
                if (this.inputValue) {
                    this.showResults = true;
                    this.selectedIndex = 0;
                    this.canDelete = false;

                    this.change();
                } else {
                    this.showResults = false;
                }
            },
        },
        computed: {
            inputValid() {
                return this.tagged.length > 0;
            }
        },
        methods: {
            selectItem(index) {
                let item = this.itemSelector(this.items[index]);
                
                this.addToTag(item);
                this.showResults = false;
                this.inputValue = '';
                this.canDelete = true;
            },
            change() {
                this.changeItems(this.inputValue)
                    .then((response) => {
                        this.items = response;

                        if (this.items.length > 0) {
                            this.showEmpty = false;
                        } else {
                            this.showEmpty = true;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            navigate(direction) {
                if (this.selectedIndex === null) return;

                var directionValue = direction === 'down' ? 1 : -1;
                var totalItems = this.items.length;

                // Trick to compute modulo of negative number.
                // See https://dev.to/maurobringolf/a-neat-trick-to-compute-modulo-of-negative-numbers-111e
                this.selectedIndex = (((this.selectedIndex + directionValue) % totalItems) + totalItems) % totalItems;
            },
            deleteTag() {
                if (!this.inputValue && this.canDelete) {
                    this.tagged.pop();
                }

                if (!this.inputValue) {
                    this.canDelete = true;
                }
            },
            addToTag(item) {
                let index = this.tagged.indexOf(item);
                if (index === -1) {
                    this.tagged.push(item);
                    this.$emit('input', this.tagged);
                } else {
                    let el = document.getElementById('tag' + index);
                    el.classList.add('active');

                    setTimeout(() => {
                        el.classList.remove('active');
                    }, 500);
                }
            },
            enterHandler(e) {
                e.preventDefault();
                
                if (this.items.length === 0) return;
                
                this.selectItem(this.selectedIndex);
            },
            deleteTheTag(index) {
                this.tagged.splice(index, 1);
                this.$refs.tagInput.focus();
            },
            onFocus() {
                this.$emit('on-input-focus');
                this.$refs.formControl.classList.add('focus');
            },
            onBlur() {
                this.$emit('on-input-blur');
                this.$refs.formControl.classList.remove('focus');
                this.showResults = false;
                this.inputValue = null;
            }
        },        
    }
</script>


<style lang="scss" scoped>
    @import "./resources/assets/sass/base/mixins";
    @import "./resources/assets/sass/base/variables";
    @import "./resources/assets/sass/plugins/fontawesome/scss/fontawesome";

    .input-tag {
        position: relative;
    }

    .my-form-control {
        display: flex;
        flex-wrap: wrap;
    }

    .my-form-control-tag {
        display: inline-block;
        border: none;
        width: 100px;
        flex: 1 0 100px;

        &:focus {
            outline: none;
        }
    }

    .tag__item {
        position: relative;
        padding-top: to-rem(4);
        padding-bottom: to-rem(4);
        padding-left: to-rem(8);
        padding-right: to-rem(20);
        background-color: lighten($black, 70%);
        display: inline-block;
        border-radius: to-rem(4);
        margin-right: to-rem(8);
        margin-bottom: to-rem(8);
        transition: 300ms ease;
        flex-shrink: 0;

        &.active {
            background-color: lighten($orange, 10%);
        }
    
    }
    .tag__delete {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: to-rem(8);
        color: lighten($black, 20%);
        font-size: to-rem(10);
        cursor: pointer;
    }
</style>


