<template>
    <div class="my-form-group__autocomplete">
        <label v-if="label" :for="id">{{ label }}</label>
        
        <button 
            class="search-page__back"
            v-if="showMobileView"
            @click.prevent="closeMobileView">
            <i class="fa fa-arrow-left"></i>
        </button>

        <input
        v-model="inputValue"
        type="text"
        :id="id"
        :name="name"
        :class="className"
        :placeholder="placeholder"
        @keyup.down="navigate('down')"
        @keyup.up="navigate('up')"
        @keyup.enter="onEnter"
        @blur="onBlur"
        @focus="onFocus"
        autocomplete="off"
        :required="required"
        :autofocus="autofocus">

        <div v-show="showResults" class="my-form-group__suggestions">
            <p v-if="customMessage">{{ customMessage }}</p>
            <p
                @mousedown="selectItem(index)"
                :class="selectedIndex === index ? 'my-form-group__suggestion-item active' : 'my-form-group__suggestion-item'"
                v-for="(item, index) in items" :key="item.id">
                {{ itemSelector(item) }}
            </p>
            <p v-if="showEmpty" class="my-form-group__suggestion-empty">{{ emptyMessage }}</p>
        </div>        
    </div>
</template>

<script>
    import axios from 'axios';
    import Vue from 'vue';
    
    export default {
        data() {
            return {
                inputValue: this.value,
                selected: this.value,
                selectedIndex: 0,
            }
        },
        props: {
            id: {
                type: String,
                default: (new Date).getTime().toString(),
            },
            name: {
                type: String,
                required: true
            },
            className: {
                type: String,
                required: true
            },
            placeholder: {
                type: String,
                default: '',
            },
            required: {
                type: Boolean,
                default: false,
            },
            emptyMessage: {
                type: String,
                default: '',
            },
            label: {
                type: String,
                default: ''
            },
            changeItems: {
                type: Function,
                required: true
            },
            itemSelector: {
                type: Function,
                required: true
            },
            autofocus: {
                type: Boolean,
                default: false
            },
            items: {
                type: Array,
                required: true
            },
            value: {
                type: String,
                default: null
            },
            showMobileView: {
                type: Boolean,
                default: false
            },
            closeMobileView: {
                type: Function,
                default: null
            },
            customMessage: {
                type: String,
                default: null
            }
        },
        watch: {
            inputValue: function() {
                if (this.inputValue === this.selected) return;
                
                if (this.inputValue) {
                    this.selectedIndex = 0;
                    this.selected = null;

                    this.onChange();
                }
            },
        },
        computed: {
            showResults() {
                return this.inputValue && !this.selected;
            },
            showEmpty() {
                return this.items.length === 0;
            }
        },
        methods: {
            selectItem(index) {
                let item = this.itemSelector(this.items[index]);
                
                this.selected = item;
                this.inputValue = item;
                this.$emit('input', this.selected);
                this.$emit('select', this.selected);
            },
            navigate(direction) {
                if (this.selectedIndex === null) return;

                var directionValue = direction === 'down' ? 1 : -1;
                var totalItems = this.items.length;

                // Trick to compute modulo of negative number.
                // See https://dev.to/maurobringolf/a-neat-trick-to-compute-modulo-of-negative-numbers-111e
                this.selectedIndex = (((this.selectedIndex + directionValue) % totalItems) + totalItems) % totalItems;
            },
            onChange() {
                this.changeItems(this.inputValue);
            },
            onEnter(e) {
                e.preventDefault();
                
                if (this.items.length === 0) return;
                
                this.selectItem(this.selectedIndex);
            },
            onFocus() {
                this.$emit('focus');
            },
            onBlur() {
                if (this.inputValue !== this.selected) {
                    this.inputValue = null;
                    this.selected = null;
                }
                this.$emit('blur');
            },
            onInput() {
            }
        },
    }
</script>

<style lang="scss" scoped>
    .search-page__back {
        border: none;
        background: transparent;
        color: rgba(0, 0, 0, 0.75);
        margin-right: 0.5rem;

        @media screen and (min-width: 500px) {
            display: none;
        }
    }
</style>
